@using Shared.ViewModels.Areas.Finishing
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model IEnumerable<PendingRecoverDetailViewModel>

<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="TitlePage">
    <h1 class="display-4 text-center">@localizer["PendingRecover"]</h1>
</div>    
@if (Model == null)
{
   
}
else
{
    @foreach (var viewModel in Model)
    {
        <table class="table table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th>RunID</th>
                    <th>FileName</th>
                    <th>RecoverType</th>
                    <th>StartPostObjID</th>
                    <th>EndPostObjID</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var p in viewModel.PendingRecoverDetail.PendingRecoverFiles)
            {
                <tr>
                    <td>@p.RunID</td>
                    <td>@p.FileName</td>
                    <td>@p.RecoverType</td>
                    <td>@p.StartPostObjID</td>
                    <td>@p.EndPostObjID</td>
                    <td>@p.UserName</td>
@*                  <td><a asp-area="EvolDP" asp-controller="DocCode" asp-action="DocCodeLevel1" asp-route-doclayout="@p.DocLayout" asp-route-docsubtype="@p.DocType">Mais</a></td>
*@              </tr>
            }
            </tbody>
        </table>
    }
}
    


