@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model BusinessViewModel
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddDocCode = false;
    bool DeleteDocCode = false;
    bool ExportDocCode = false;

    if (Model.Permissions.Find(x => x == "AddDocCode") != null) { AddDocCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteDocCode") != null) { DeleteDocCode = true; }
    if (Model.Permissions.Find(x => x == "ExportDocCode") != null) { ExportDocCode = true; }
}
<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
 
@if (Model == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-left">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    string value;
    string localValue;
    Company company = Model.Company;
    string check1, check2, check4;
    <div class="popup-container" id="confirmPopupEditCompany" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="justify-content-center FormEdit" asp-area="evolDP" asp-controller="Generic" asp-action="ChangeCompany">
                    <h1>@localizer["PopupMessageEdit"]</h1>
                    <div class="form-inputs">
                        <input style="display: none" id=CompanyID name=CompanyID value="@company.ID" />
                        <h6>@localizer["CompanyCode"]</h6>
                        <input id=CompanyCode name=CompanyCode type="text" maxlength="256" style="width: 100%" value="@company.CompanyCode" readonly />
                        <h6>@localizer["CompanyName"]</h6>
                        <input id=CompanyName name=CompanyName type="text" maxlength="256" style="width: 100%" value="@company.CompanyName" />
                        <h6>@localizer["CompanyAddress"]</h6>
                        <input id=CompanyAddress name=CompanyAddress type="text" maxlength="256" style="width: 100%" value="@company.CompanyAddress" />
                        <h6>@localizer["CompanyPostalCode"]</h6>
                        <input id=CompanyPostalCode name=CompanyPostalCode type="text" maxlength="256" style="width: 100%" value="@company.CompanyPostalCode" />
                        <h6>@localizer["CompanyPostalCodeDescription"]</h6>
                        <input id=CompanyPostalCodeDescription name=CompanyPostalCodeDescription type="text" maxlength="256" style="width: 100%" value="@company.CompanyPostalCodeDescription" />
                        <h6>@localizer["CompanyCountry"]</h6>
                        <input id=CompanyCountry name=CompanyCountry type="text" maxlength="256" style="width: 100%" value="@company.CompanyCountry" />
                    </div>
                    <div class="popup-buttons">
                        <button type="button" class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button type="button" class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="TitlePage">
        <h1>@localizer["Company"] / @localizer["Business"]</h1>
    </div>
    @if (!string.IsNullOrEmpty(TempData["Source"]?.ToString()))
    {
        <a class='bx bx-left-arrow' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="Generic" asp-action="Companies">
        </a>
    }
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddDocCode)
                {
                    <th class="evol-fitcontent-column borders"></th>
                }
                <th>@localizer["CompanyCode"]</th>
                <th>@localizer["CompanyName"]</th>
                <th>@localizer["CompanyAddress"]</th>
                <th>@localizer["CompanyPostalCode"]</th>
                <th>@localizer["CompanyPostalCodeDescription"]</th>
                <th>@localizer["CompanyCountry"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            <tr id="Show|Company" ondblclick="openPopupEditCompany()">
                @if (AddDocCode)
                {
                    <td class="borders" style="text-align: center">
                        <img onclick="openPopupEditCompany()" class="evol-image wobble" src="~/images/edit.png" title="@localizer["CompanyChange"]" />
                    </td>
                }
                <td>@company.CompanyCode</td>
                <td>@company.CompanyName</td>
                <td>@company.CompanyAddress</td>
                <td>@company.CompanyPostalCode</td>
                <td>@company.CompanyPostalCodeDescription</td>
                <td>@company.CompanyCountry</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddDocCode)
                {
                    <th rowspan="2" class="evol-fitcontent-column borders"></th>
                }
                <th rowspan="2">@localizer["BusinessCode"]</th>
                <th rowspan="2">@localizer["BusinessDescription"]</th>
                <th rowspan="2" title="@localizer["FileSheetsCutoffLevelTip"]">@localizer["FileSheetsCutoffLevel"]</th>
                <th colspan="3">@localizer["InternalExpedition"]</th>
                <th rowspan="2" title="@localizer["ExternalExpeditionModeTip"]">@localizer["ExternalExpeditionMode"]</th>
                <th rowspan="2" title="@localizer["TotalBannerPagesTip"]">@localizer["TotalBannerPages"]</th>
                <th rowspan="2" title="@localizer["PostObjOrderModeTip"]">@localizer["PostObjOrderMode"]</th>
            </tr>
            <tr>
                <th title="@localizer["InternalExpeditionModeTip"]">@localizer["InternalExpeditionMode"]</th>
                <th title="@localizer["InternalCodeStartTip"]">@localizer["InternalCodeStart"]</th>
                <th title="@localizer["InternalCodeLenTip"]">@localizer["InternalCodeLen"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
        @foreach (Business b in Model.CompanyBusiness)
        {
                value = b.BusinessID.ToString();
                @if (AddDocCode)
                {
                    <div class="popup-container confirmPopupEditBusiness FormEdit" id="Edit|@value" style="display: none;">
                        <div class="bgGradient">
                            <div class="popup" style="width: 1000px; max-width: 1000px">
                                <form class="justify-content-center" asp-area="evolDP" asp-controller="Generic" asp-action="ChangeBusiness" asp-route-companyid="@company.ID">
                                    <h1>@localizer["PopupMessageEdit"]</h1>
                                    <div class="form-inputs">
                                        <input style="display: none" id=BusinessID name=BusinessID value="@b.BusinessID" />
                                        <div class="popup-div">
                                            <h6>@localizer["BusinessCode"]</h6>
                                            <h6>@localizer["BusinessDescription"]</h6>
                                        </div>
                                        <div class="popup-div">
                                            <input id=BusinessCode name=BusinessCode type="text" maxlength="256" style="width: 100%" value="@b.BusinessCode" readonly />
                                            <input id=Description name=Description type="text" maxlength="256" style="width: 100%" value="@b.Description" />
                                        </div>
                                        <div class="popup-div">
                                            <h6>@localizer["FileSheetsCutoffLevel"]</h6>
                                            <h6>@localizer["ExternalExpeditionMode"]</h6>
                                        </div>
                                        <div class="popup-div">
                                            <input type="number" min="0" max="1000000" id=FileSheetsCutoffLevel name=FileSheetsCutoffLevel style="width: 100%" value="@b.FileSheetsCutoffLevel" />
                                            <div style="width: 100%">
                                                @{
                                                    check1 = ""; check2 = ""; check4 = "";
                                                }
                                                @if ((b.InternalExpeditionMode & 1) == 1)
                                                {
                                                    check1 = "checked";
                                                }
                                                @if ((b.InternalExpeditionMode & 2) == 2)
                                                {
                                                    check2 = "checked";
                                                }
                                                @if ((b.InternalExpeditionMode & 4) == 4)
                                                {
                                                    check4 = "checked";
                                                }
                                                <div style="display: inline-block;">
                                                    <input type="checkbox" title="@localizer["InternalExpeditionMode1Tip"]" style="display: inline-block" id="InternalExpeditionMode1" name="InternalExpeditionMode" value="1" @check1>
                                                    <label for="InternalExpeditionMode1" title="@localizer["InternalExpeditionMode1Tip"]" style="display: inline-block;">@localizer["InternalExpeditionMode1"]</label>
                                                </div>
                                                <div style="display: inline-block;">
                                                    <input type="checkbox" title="@localizer["InternalExpeditionMode2Tip"]" style="display: inline-block" id="InternalExpeditionMode2" name="InternalExpeditionMode" value="2" @check2>
                                                    <label for="InternalExpeditionMode2" title="@localizer["InternalExpeditionMode2Tip"]" style="display: inline-block;">@localizer["InternalExpeditionMode2"]</label>
                                                </div>
                                                <div style="display: inline-block; margin-top: 20px; margin-bottom: 10px;width: 100%">
                                                    <input type="checkbox" title="@localizer["InternalExpeditionMode4Tip"]" style="display: inline-block" id="InternalExpeditionMode4" name="InternalExpeditionMode" value="4" @check4>
                                                    <label for="InternalExpeditionMode4" title="@localizer["InternalExpeditionMode4Tip"]" style="display: inline-block; width: 100%; text-align: center">@localizer["InternalExpeditionMode4"]</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-div">
                                            <h6>@localizer["InternalCodeStart"]</h6>
                                            <h6>@localizer["InternalCodeLen"]</h6>
                                        </div>
                                        <div class="popup-div">
                                            <input type="number" min="0" max="10" id=InternalCodeStart name=InternalCodeStart style="width: 100%" value="@b.InternalCodeStart" />
                                            <input type="number" min="0" max="10" id=InternalCodeLen name=InternalCodeLen style="width: 100%" value="@b.InternalCodeLen" />
                                        </div>
                                        <div class="popup-div">
                                            <h6>@localizer["InternalExpeditionMode"]</h6>
                                            <h6>@localizer["TotalBannerPages"]</h6>
                                        </div>
                                        <div class="popup-div">
                                            @{
                                                List<int> eModeList = new List<int>();
                                                eModeList.Add(0);
                                                eModeList.Add(1);
                                                eModeList.Add(2);
                                                if (b.ExternalExpeditionMode != null)
                                                {
                                                    eModeList.Remove((int)b.ExternalExpeditionMode);
                                                    eModeList.Add(-1);
                                                }
                                            }
                                            <select id=ExternalExpeditionMode name=ExternalExpeditionMode>
                                                @{
                                                    localValue = b.ExternalExpeditionMode == null ? "-1" : b.ExternalExpeditionMode.ToString();
                                                }
                                                <option value="@localValue">
                                                    @{
                                                        localValue = "ExternalExpeditionMode" + localValue;
                                                    }
                                                    @localizer[localValue]
                                                </option>
                                                @foreach (int i in eModeList)
                                                {
                                                    <option value="@i">
                                                        @{
                                                            localValue = "ExternalExpeditionMode" + i.ToString();
                                                        }
                                                        @localizer[localValue]
                                                    </option>
                                                }
                                            </select>
                                            <input type="number" min="0" max="20" id="TotalBannerPages" name="TotalBannerPages" value="@b.TotalBannerPages" />
                                        </div>
                                        <h6>@localizer["PostObjOrderMode"]</h6>
                                        <select id="PostObjOrderMode" name="PostObjOrderMode">
                                            @{
                                                localValue = "PostObjOrderMode" + b.PostObjOrderMode.ToString();
                                            }
                                            <option value="@b.PostObjOrderMode" title="@localizer[localValue + "Tip"]">@localizer[localValue]</option>
                                            @{
                                                localValue = "PostObjOrderMode" + (1 - b.PostObjOrderMode).ToString();
                                            }
                                            <option value="@(1 - b.PostObjOrderMode)" title="@localizer[localValue + "Tip"]">@localizer[localValue]</option>
                                        </select>
                                    </div>
                                    <div class="popup-buttons">
                                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <tr id="Show|@value" ondblclick="openPopupEditBusiness('@value')">
                    @if (AddDocCode)
                    {
                        <td style="text-align: center" class="borders">
                            <img onclick="openPopupEditBusiness('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeBusiness"]" />
                        </td>
                    }
                    <td>@b.BusinessCode</td>
                    <td>@b.Description</td>
                    <td>@if (b.FileSheetsCutoffLevel == 0)
                        {
                            @localizer["EmptyField"]
                        }
                        else
                        {
                            @b.FileSheetsCutoffLevel
                        }
                    </td>
                    <td>
                        @{check1 = ""; check2 = ""; check4 = "";}
                        @if ((b.InternalExpeditionMode & 1) == 1)
                        {
                            check1 = "checked";                            
                        }
                        @if ((b.InternalExpeditionMode & 2) == 2)
                        {
                            check2 = "checked";
                        }
                        @if ((b.InternalExpeditionMode & 4) == 4)
                        {
                            check4 = "checked";
                        }
                        <div style="display: inline-block;">
                        <input disabled type="checkbox" title="@localizer["InternalExpeditionMode1Tip"]" style="display: inline-block; margin-left: 10px;" id="InternalExpeditionMode1" name="InternalExpeditionMode" value="1" @check1>
                        <label for="InternalExpeditionMode1" title="@localizer["InternalExpeditionMode1Tip"]" style="display: inline-block;">@localizer["InternalExpeditionMode1"]</label>
                        </div>
                        <div style="display: inline-block;">
                        <input disabled type="checkbox" title="@localizer["InternalExpeditionMode2Tip"]" style="display: inline-block; margin-left: 10px;"id="InternalExpeditionMode2" name="InternalExpeditionMode" value="2" @check2>
                        <label for="InternalExpeditionMode2" title="@localizer["InternalExpeditionMode2Tip"]" style="display: inline-block;">@localizer["InternalExpeditionMode2"]</label>
                        </div>
                        <div style="display: inline-block;">
                        <input disabled type="checkbox" title="@localizer["InternalExpeditionMode4Tip"]" style="display: inline-block; margin-left: 10px;"id="InternalExpeditionMode4" name="InternalExpeditionMode" value="4" @check4>
                        <label for="InternalExpeditionMode4" title="@localizer["InternalExpeditionMode4Tip"]" style="display: inline-block;">@localizer["InternalExpeditionMode4"]</label>
                        </div>
                    </td>
                    <td>@b.InternalCodeStart</td>
                    <td>@b.InternalCodeLen</td>
                    <td>
                        @{
                            localValue = "ExternalExpeditionMode" + (b.ExternalExpeditionMode == null ? "-1" : b.ExternalExpeditionMode.ToString());
                        }
                        @localizer[localValue]
                    </td>
                    <td>@b.TotalBannerPages</td>
                    @{
                        localValue = "PostObjOrderMode" + b.PostObjOrderMode.ToString();
                    }
                    <td title="@localizer[localValue + "Tip"]">@localizer[localValue]</td>
                </tr>
        }
        </tbody>
    </table>
}
    
@section Scripts
    {
    <script type="text/javascript">
        function openPopupEditCompany() {
            document.getElementById("confirmPopupEditCompany").style.display = "flex";
        }
        function openPopupEditBusiness(value) {
            document.getElementById("Edit|" + value).style.display = "flex";
        }
        function confirmBtn() {
            return true;
        }
        function closePopup() {
            document.getElementById("confirmPopupEditCompany").style.display = "none";
            var elements = document.querySelectorAll(".confirmPopupEditBusiness");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
            return false;
        }
    </script>
}

