@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model CompaniesViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddDocCode = false;
    bool DeleteDocCode = false;
    bool ExportDocCode = false;

    if (Model.Permissions.Find(x => x == "AddDocCode") != null) { AddDocCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteDocCode") != null) { DeleteDocCode = true; }
    if (Model.Permissions.Find(x => x == "ExportDocCode") != null) { ExportDocCode = true; }
}

@if (Model == null || Model.Companies == null || Model.Companies.Count() == 0)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string value;
    string Level0Name = "level";

    int level = 0;
    string idValue = "arrow" + level.ToString();
    string nameValue = "";

    IEnumerable<Business> businessList;

    <div id="TitlePage">
        <h1>@localizer["DocCompanies"]</h1>
    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
           <tr>
                <th class ="evol-fitcontent-column"></th>
                <th>@localizer["CompanyName"]</th>
                <th>@localizer["CompanyCode"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (var company in Model.Companies)
            {
                level++;
                nameValue = Level0Name + level.ToString();
                idValue = "arrow" + nameValue;
                value = company.ID.ToString();
                businessList = Model.CompanyBusiness.Where(x => x.CompanyID == company.ID);
                <tr>
                    <td class="evol-fitcontent-column">
                        <a asp-area="evolDP" asp-controller="Generic" asp-action="Business" asp-route-companyid="@company.ID">
                            <img style="background:none; width:35px;height:35px;" src="~/images/config.png" title="@localizer["CompanyDetail"]: @company.CompanyName" />
                        </a>
                        @if (businessList.Count() > 0)
                        {
                            <a class="evol-arrow bx bxs-chevron-down" href="javascript:showDetail('@nameValue')" id="@idValue"></a>
                        }
                    </td>
                    <td>@company.CompanyName</td>
                    <td>@company.CompanyCode</td>
                </tr>
                @if (businessList.Count() > 0)
                {
                    <tr id="@nameValue" style="display: none">
                        <td></td>
                        <td colspan="2">
                            <table class="table table-sm table-hover table-collapse-seperate">
                            <thead id="bootstrap-overrides" class="table-info sticky-header">
                                <tr>
                                    <th>@localizer["BusinessCode"]</th>
                                    <th>@localizer["BusinessDescription"]</th>
                                </tr>
                            </thead>
                            <tbody id="bootstrap-overrides">
                                @foreach (Business b in businessList)
                                {
                                    <tr>
                                        <td>@b.BusinessCode</td>
                                        <td>@b.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@section Scripts
    {
    <script type="text/javascript">
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Show|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = true;
            return false;
        }
        function EditRow(value) {
            eShide('Show|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }
    </script>
}