@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ConstantParameterViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddConstantParameter = false;
    bool DeleteConstantParameter = false;

    if (Model.Permissions.Find(x => x == "AddConstantParameter") != null) { AddConstantParameter = true; }
    if (Model.Permissions.Find(x => x == "DeleteConstantParameter") != null) { DeleteConstantParameter = true; }

}
<script>
    const deleteMsgParameter = '@localizer["deleteMsgParameter"]';
</script>
<head>
    <link rel="stylesheet" runat="server" media="screen" href="~/css/site.css" />

</head>

@if (Model == null || Model.ConstantsList == null || Model.ConstantsList.Count() == 0)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    <div class="popup-container" id="confirmPopupEdit" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="Client" asp-action="ConfigParameter" asp-route-source="">
                    <h1 id="popupMessage"></h1>
                    <div class="form-inputs">
                        <input style="display:none" id=ParameterID name=ParameterID value="" />
                        <h6>@localizer["ParameterRef"]</h6>
                        <input id=ParameterRef name=ParameterRef type="text" maxlength="20" style="width: 100%" value="" />
                        <h6>@localizer["ParameterValue"]</h6>
                        <input id=ParameterValue name=ParameterValue type="number" maxlength="10" style="width: 100%" value="" />
                        <h6>@localizer["ParameterDescription"]</h6>
                        <input id=ParameterDescription name=ParameterDescription type="text" maxlength="256" style="width: 100%" value="" />
                    </div>
                    <div class="popup-buttons">
                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="TitlePage">
        <h1>@localizer["PurgeParameters"]</h1>
    </div>
    string value;

    string errorMessage = TempData["Message"]?.ToString();
    TempData["Message"] = "";

    <table class="table table-sm table-hover table-collapse-seperate table-shadow">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
           <tr>
                @if (AddConstantParameter)
                {
                    <th style="text-align: center" class="borders"><img class="evol-image grow" onclick="openPopupAdd()" style="background:none; width:35px;height:35px;" src="~/images/add.png" title="@localizer["AddParameter"]" /></th>
                }
                <th style="border-top-left-radius: 20px;">@localizer["ParameterRef"]</th>
                <th>@localizer["ParameterValue"]</th>
                <th style="border-top-right-radius: 20px;">@localizer["ParameterDescription"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach(ConstantParameter c in Model.ConstantsList)
            {
                <tr id="Parameter|@c.ParameterID" ondblclick="openPopupEdit('@c.ParameterID')">
                    @if (AddConstantParameter)
                    {
                        <td style="align-items:center; display:flex; justify-content: center; @(c == Model.ConstantsList.Last() ? "box-shadow: 10px 10px 10px #FFFFFF; background-color: #FFFFFF" : "")" class="borders">
                            <img class="evol-image float wobble" onclick="openPopupEdit('@c.ParameterID')" style="background:none; width:25px;height:25px;" src="~/images/edit.png" title="@localizer["ChangeParameter"] @localizer["ParameterRef"] = @c.ParameterRef" />
                            @if (DeleteConstantParameter)
                            {
                                <a asp-area="evolDP" asp-controller="Client" asp-action="DeleteParameter" asp-route-exceptionID="@c.ParameterID">
                                    <img onclick="return confirmParameterDelete()" class="evol-image float" src="~/images/delete.png" title="@localizer["DeleteParameter"] @localizer["ParameterRef"] = @c.ParameterRef" />
                                </a>
                            }
                        </td>
                    }
                    <td class="@(c == Model.ConstantsList.Last() ? "last-row-l" : "")">@c.ParameterRef</td>
                    <td>@c.ParameterValue</td>
                    <td class="@(c == Model.ConstantsList.Last() ? "last-row-r" : "")">@c.ParameterDescription</td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script type="text/javascript">
      function confirmParameterDelete() {
            if (confirm(deleteMsgParameter)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
        function openPopupEdit(value) {
            document.getElementById('popupMessage').innerHTML = '@localizer["PopupMessageEdit"]';
            document.getElementById("ParameterID").value = value;
            document.getElementById("ParameterRef").value = document.getElementById("Parameter|" + value).querySelector("td:nth-child(2)").textContent;
            document.getElementById("ParameterValue").value = document.getElementById("Parameter|" + value).querySelector("td:nth-child(3)").textContent;
            document.getElementById("ParameterDescription").value = document.getElementById("Parameter|" + value).querySelector("td:nth-child(4)").textContent;
            document.querySelector(".FormEdit").setAttribute('asp-route-source', 'Edit');
            document.getElementById("confirmPopupEdit").style.display = "flex";
        }
        function openPopupAdd() {
            document.getElementById('popupMessage').innerHTML = '@localizer["PopupMessageAdd"]';
            document.getElementById("ParameterID").value = "";
            document.getElementById("ParameterRef").value = "";
            document.getElementById("ParameterValue").value = "";
            document.getElementById("ParameterDescription").value = "";
            document.querySelector(".FormEdit").setAttribute('asp-route-source', 'Add');
            document.getElementById("confirmPopupEdit").style.display = "flex";
        }
        function confirmBtn() {
            return true;
        }
        function closePopup() {
            document.getElementById("confirmPopupEdit").style.display = "none";
            return false;
        }
    </script>
}