@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ConstantParameterViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddConstantParameter = false;
    bool DeleteConstantParameter = false;

    if (Model.Permissions.Find(x => x == "AddConstantParameter") != null) { AddConstantParameter = true; }
    if (Model.Permissions.Find(x => x == "DeleteConstantParameter") != null) { DeleteConstantParameter = true; }

}
<script>
    const deleteMsgParameter = '@localizer["deleteMsgParameter"]';
</script>
@if (Model == null || Model.ConstantsList == null || Model.ConstantsList.Count() == 0)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    <div id="TitlePage">
        <h1>@localizer["PurgeParameters"]</h1>
    </div>
    string value;

    string errorMessage = TempData["Message"]?.ToString();
    TempData["Message"] = "";

    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
           <tr>
                @if (AddConstantParameter)
                {
                    <th style="text-align: center"><img onclick="EditRow('')" style="background:none; width:35px;height:35px;" src="~/images/add.png" title="@localizer["AddParameter"]" /></th>
                }
                <th>@localizer["ParameterRef"]</th>
                <th>@localizer["ParameterValue"]</th>
                <th>@localizer["ParameterDescription"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @if (AddConstantParameter)
            {
                <tr id="Hide|" style="display: none">
                    <form id="AddParameterFrm|" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Generic" asp-action="ConfigParameter" asp-route-source="Add">
                        <td style ="align-items:center; display:flex">
                           <img onclick="CancelRow('')" type="image"style="background:none; width:25px;height:25px;" src="~/images/cancel.png" title="@localizer["Cancel"]"/>
                           <input onclick="return true" type="image" value="@localizer["SubmitChange"]" style="background:none; width:25px;height:25px;" name="Submit" src="~/images/Ok.png"/>
                        </td>
                        <td><input id=ParameterRef name=ParameterRef type="text" maxlength="20" style="width: 100%" /></td>
                        <td><input id=ParameterValue name=ParameterValue type="number" maxlength="10" style="width: 100%" /></td>
                        <td><input id=ParameterDescription name=ParameterDescription type="text" maxlength="256" style="width: 100%" /></td>
                    </form>
                </tr>
            }
            @foreach(ConstantParameter c in Model.ConstantsList)
            {
                <tr id="Parameter|@c.ParameterID">
                    @if (AddConstantParameter)
                    {
                        <td>
                            <img onclick="EditRow('@c.ParameterID')" style="background:none; width:25px;height:25px;" src="~/images/edit.png" title="@localizer["ChangeParameter"] @localizer["ParameterRef"] = @c.ParameterRef" />
                            @if (DeleteConstantParameter)
                            {
                                <a asp-area="evolDP" asp-controller="Client" asp-action="DeleteParameter" asp-route-exceptionID="@c.ParameterID">
                                    <img onclick="return confirmParameterDelete()" style="background:none; width:25px;height:25px;" src="~/images/delete.png" title="@localizer["DeleteParameter"] @localizer["ParameterRef"] = @c.ParameterRef"  />
                                </a>
                            }
                        </td>
                    }
                    <td>@c.ParameterRef</td>
                    <td>@c.ParameterValue</td>
                    <td>@c.ParameterDescription</td>
                </tr>
                @if (AddConstantParameter)
                {
                    <tr id="Hide|@c.ParameterID" style="display: none">
                        <form id="AddParameterFrm|@c.ParameterID" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Generic" asp-action="ConfigParameter" asp-route-source="Edit">
                            <td style ="align-items:center; display:flex">
                                <img onclick="CancelRow('@c.ParameterID')" type="image" style="background:none; width:25px;height:25px;" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                                <input onclick="return true" type="image" value="@localizer["SubmitChange"]" style="background:none; width:25px;height:25px;" name="Submit" src="~/images/Ok.png" />
                                <input style="visibility:hidden" id=ParameterID name=ParameterID value="@c.ParameterID" />
                            </td>
                            <td><input id=ParameterRef name=ParameterRef type="text" maxlength="20" style="width: 100%" value="@c.ParameterRef" /></td>
                            <td><input id=ParameterValue name=ParameterValue type="number" maxlength="10" style="width: 100%" value="@c.ParameterValue" /></td>
                            <td><input id=ParameterDescription name=ParameterDescription type="text" maxlength="256" style="width: 100%" value="@c.ParameterDescription" /></td>
                        </form>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script type="text/javascript">
      function confirmParameterDelete() {
            if (confirm(deleteMsgParameter)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Parameter|' + value);
            var obj = document.getElementById("AddParameterFrm|" + value);
            obj.disabled = true;
            return false;
        }
        function EditRow(value) {
            eShide('Parameter|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddParameterFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }
    </script>
}