@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration
@model BusinessViewModel

<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
 
@if (Model == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-left">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    string BusinessCodeLabel = localizer["BusinessCode"].Value;
    <div id="TitlePage">
        <h1>@localizer["Projects"]</h1>
    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th class="evol-fitcontent-column borders">
                <a asp-area="evolDP" asp-controller="Generic" asp-action="ProjectList"  asp-route-businessID="0">
                    <img class="evol-image" src="~/images/detail.png" title="@localizer["ProjectDetailTip"]" />
                </a>
                </th>
                <th>@localizer["Business"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
        @foreach (Business c in Model.CompanyBusiness)
        {
            <tr>
                    <td style="justify-content:center" class="borders">
                        <a asp-area="evolDP" asp-controller="Generic" asp-action="ProjectList" asp-route-businessID="@c.BusinessID">
                        <img class="evol-image" src="~/images/detail.png" title="@localizer["ProjectDetailTip"]: @c.Description" />
                        </a>
                </td>
                <td>@c.Description</td>
            </tr>
        }
        </tbody>
    </table>
}
    


