@using Shared.Models.Areas.Finishing
@using Shared.ViewModels.Areas.Finishing
@using Newtonsoft.Json;
@using Shared.ViewModels.Areas.Core;

@model PrinterViewModel
@*https://www.w3.org/WAI/tutorials/tables/irregular/  https://datatables.net/extensions/buttons/examples/column_visibility/index.html*@
@{
    bool PrintFile = false;

    if (Model.Permissions.Find(x => x == "PrintFile") != null) { PrintFile = true; }
}
<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
    
</div>

<div class="d-flex justify-content-center">
    <h3 class="display-4 text-center"> Print File</h3>
</div><div class="d-flex justify-content-center">
    <h4 class="display-6 text-center">@ViewBag.FileName</h4>
</div>
<div class="my-5 d-flex justify-content-center">
    <div class=" my-1 d-flex justify-content-center">
        <b class="mx-3">Printer</b>
        <form id="some" asp-area="Finishing" asp-controller="Print" asp-action="Print"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-mode="replace"
                data-ajax-update="#response"
                data-ajax-loading="myLoader">

            <select id="Printer" name="Printer">
                @foreach (PrinterInfo printer in Model.Printers.Where(r => r.MatchFilter == true))
                {
                    string resValue = printer.PlexFeature.ToString() + "|" + printer.ColorFeature.ToString() + "|" + printer.ResValue;
                    <option value="@resValue">@printer.Description</option>
                }
            </select>
            <p class="my-3 d-flex justify-content-center"><input type="submit" name="Submit" class="btn btn-block btn-primary" /></p>

        </form>
        <form id="all" style="display:none" asp-area="Finishing" asp-controller="Print" asp-action="Print"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-mode="replace"
                data-ajax-update="#response"
                data-ajax-loading="myLoader">

                <select id="Printer" name="Printer">
                @foreach(PrinterInfo printer in Model.Printers)
                {
                    string resValue = printer.PlexFeature.ToString() + "|" + printer.ColorFeature.ToString() + "|" + printer.ResValue;
                    <option value="@resValue">@printer.Description</option>
                }
                </select>
            <p class="my-3 d-flex justify-content-center"><input type="submit" name="Submit" class="btn btn-block btn-success" /></p>

        </form>
    </div>
    <div class="checkbox mx-3 my-1">
        <label> @Html.CheckBox("check", false) All Printers</label>
    </div>
    
    @*<div class ="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" id="submit">Submit Print</button>
    </div>*@
    <div id="response" class="d-flex justify-content-center">
        
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#check").click(function () {
                if ($(this).is(':checked')) {
                    $("#all").show();
                    $("#some").hide();
                } else {
                    $("#all").hide();
                    $("#some").show();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                if ($('#check').is(':checked')) {
                    document.getElementById("all").submit();
                } else {
                    document.getElementById("some").submit();
                }
            });
        });
    </script>
}



