

<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>

<form asp-controller="Recuperation" asp-action="RegistPartialRecover" 
      data-ajax="true" 
      data-ajax-method="POST"
      data-ajax-mode="replace" 
      data-ajax-update="response"
      data-ajax-loading  ="myLoader">
    <div class="form-group">
        <div>  <h4>@Html.Label("FileBarcode")</h4> </div>
        <div>  @Html.TextBox("StartBarcode","",htmlAttributes:new { @class="form-control",id="StartBarcode"})</div>
        <div>  <h4>@Html.Label("EndBarcode")</h4> </div>
        <div>  @Html.TextBox("EndBarcode","",htmlAttributes:new { @class="form-control",id="EndBarcode"})</div>
        <div>  @Html.TextBox("EndBarcode","",htmlAttributes:new { @class="form-control",id="EndBarcode"})</div>
    </div>
    <br/>
    <input type="submit" name="Submit"  class="btn btn-block btn-success" />
</form>
<div id="response"></div>


