@using Shared.Models.Areas.Reports;
@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Microsoft.AspNetCore.Mvc.Localization
@using Shared.ViewModels.Areas.Reports
@inject IViewLocalizer localizer
@model DependentProductionViewModel

<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@if (Model == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    <div id="TitlePage">
        <h1>@localizer["JobsControl"]</h1>
    </div>

    <div class="my-3">
        <table class="table table-sm table-hover">
            <thead id="bootstrap-overrides" class="sticky-header">
                <tr class="collapsible active">
                    <th class="borders" rowspan="2" style="text-align:center;vertical-align:middle"></th>
                    <th colspan="7" scope="rowgroup" style="text-align:center;vertical-align:middle">
                        @localizer["DependentPrints"]
                    </th>
                </tr>
                <tr>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">
                        @localizer["RunsDate"] <br>
                        @localizer["BusinessName"]
                    </th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["ExpType"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["ExpCompany"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["PrintType"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Files"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">Docs</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Prints"]</th>
                </tr>
            </thead>
            <tbody id="bootstrap-overrides">
                @{
                    int FilesTotalP = 0;
                    int DocsTotalP = 0;
                    int PrintsTotalP = 0;
                }
                @foreach (DependentPrintsInfo print in Model.DependentPrintProduction)
                {
                    <tr>
                        <td class="borders" style="text-align:center;vertical-align:middle"></td>
                        <td>
                            @print.FileTimeStamp<br>
                            @print.BusinessDesc
                        </td>
                        <td>@print.ExpeditionType</td>
                        <td>@print.ExpCode</td>
                        <td>@print.PlexCode</td>
                        <td>@print.TotalFiles</td>
                        @{
                            FilesTotalP += print.TotalFiles;
                        }
                        <td>@print.TotalDocs</td>
                        @{
                            DocsTotalP += print.TotalDocs;
                        }
                        <td>@print.TotalPrint</td>
                        @{
                            PrintsTotalP += print.TotalPrint;
                        }
                    </tr>
                }
                <tr class="table-end">
                    <td></td>
                    <td class="table-end-data">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-end-data">@FilesTotalP</td>
                    <td class="table-end-data">@DocsTotalP</td>
                    <td class="table-end-data">@PrintsTotalP</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="my-3">
        <table class="table table-sm table-hover">
            <thead id="bootstrap-overrides" class="sticky-header">
                <tr class="collapsible active">
                    <th class="borders" rowspan="2" style="text-align:center;vertical-align:middle"></th>
                    <th colspan="8" scope="rowgroup" style="text-align:center;vertical-align:middle">
                        @localizer["DependentEnvs"]
                    </th>
                </tr>
                <tr>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">
                        @localizer["RunsDate"] <br>
                        @localizer["BusinessName"]
                    </th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["ExpType"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["ExpCompany"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["EnvFormat"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["EnvType"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Files"]</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">Docs</th>
                    <th rowspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Envs"]</th>
                </tr>
            </thead>
            <tbody id="bootstrap-overrides">
                @{
                    int FilesTotalE = 0;
                    int DocsTotalE = 0;
                    int EnvsTotalE = 0;
                }
                @foreach (DependentFullfillInfo fullfill in Model.DependentFullfillProduction)
                {
                    <tr>
                        @{
                        //    DateTime rDate;
                        //    string runDate = fullfill.RunDate.ToString();
                        //    if (DateTime.TryParseExact(fullfill.RunDate.ToString(), "yyyyMMdd",
                        //    System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out rDate))
                        //        runDate = rDate.ToShortDateString();
                        //    //string RunName = runDate + " [" + retention.RunSequence + "]";
                        }

                        <td class="borders" style="text-align:center;vertical-align:middle"></td>
                        <td>
                            @fullfill.FileTimeStamp<br>
                            @fullfill.BusinessDesc
                        </td>
                        <td>@fullfill.ExpeditionType</td>
                        <td>@fullfill.ExpCode</td>
                        <td>@fullfill.FullFillMaterialCode</td>
                        <td>@fullfill.ServiceFullFillMaterialCode</td>
                        <td>@fullfill.TotalFiles</td>
                        @{
                            FilesTotalP += fullfill.TotalFiles;
                        }
                        <td>@fullfill.TotalDocs</td>
                        @{
                            DocsTotalP += fullfill.TotalDocs;
                        }
                        <td>@fullfill.TotalPostObjs</td>
                        @{
                            EnvsTotalE += fullfill.TotalPostObjs;
                        }
                    </tr>
                }
                <tr class="table-end">
                    <td></td>
                    <td class="table-end-data">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-end-data">@FilesTotalP</td>
                    <td class="table-end-data">@DocsTotalP</td>
                    <td class="table-end-data">@EnvsTotalE</td>
                </tr>
            </tbody>
        </table>
    </div>
}