@using Shared.Models.Areas.Core
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    var error = TempData["resultError"] as ErrorResult;
    var errorMessage = TempData["errorMessage"];
    var returnUrl = ViewData["returnUrl"];

}
@model UserLogin

<div class="align-items-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4 text-center" style="color: var(--evol-black)">@localizer["Welcome"] <span class="evol-font">evolUX</span></h1>
        @*        <p>@User.Identity.Name</p>
    foreach (var claim in User.Claims)
    {
    <p>@claim.Type: @claim.Value</p>
    }
    *@      }
    else
    {
        <div class="container" style="margin-top:-70px">
            <div class="screen">
                <div class="screen__content">
                    <div>
                        <i>
                            <img src="~/images/evolSolutionslogin.png" class="logotipo no-click"/>
                        </i>
                    </div>
                    <svg id="snake" viewBox="0 50 320 300">
                        <defs>
                            <linearGradient inkscape:collect="always"
                                            id="linearGradient"
                                            x1="23"
                                            y1="193.49992"
                                            x2="307"
                                            y2="193.49992"
                                            gradientUnits="userSpaceOnUse">
                                <stop style="stop-color:#7bc3f3;"
                                      offset="0"
                                      id="stop876" />
                                <stop style="stop-color:#6324ff;"
                                      offset="0.3"
                                      id="stop876" />
                                <stop style="stop-color:#ff0000;"
                                      offset="1"
                                      id="stop878" />
                            </linearGradient>
                        </defs>
                        <path d="m 31.7,115 242,-0.00032 c 0,0 25,0 25,45 0,35 0,35 -20,35 h -239.99984 c 0,0 -25,0 -25,68 0,20 30,40 48,38.5 c 0,0 80,0 190,0 0,0 10,0 10,-10 0,0 0,-10 0,-40 0,0 0,-10 -10,-10 0,0 -80,0 -190,0 0,0 -10,0 -10,10 0,0 0,10 0,40 0,0 0,10 10,10 0,0 0,0 80,0 190,0"/>
                    </svg>
                    <form id="credentials-form" asp-area="core" asp-controller="auth" asp-action="LoginCredentials" method="get" class="login">
                        <div class="login__field">
                            <i>
                                <img src="~/images/man-userlogin.png" class="login__icon no-click">
                            </i>
                            <input type="text" asp-for="Username" id="emaillogin" class="login__input evol-font" placeholder="User name/Email">
                        </div>
                        <div class="login__field">
                            <i>
                                <img src="~/images/locklogin.png" class="login__icon no-click">
                            </i>
                            <input type="password" asp-for="Password" id="passwordlogin" class="login__input evol-font" style="display:" placeholder="Password">
                        </div>
                        <input type="hidden" name="returnUrl" value="@returnUrl">
                        <button class="login__submit button" name="Submit" style="margin-left: 30px" id="submitlogin">
                            <span class="evol-font">Entrar</span>
                            <i>
                                <img src="~/images/log-in-arrowlogin.png" class="button__icon no-click" />
                            </i>
                        </button>
                    </form>
                        <form id="windows-form" asp-area="core" asp-controller="auth" asp-action="LoginWindowsAuthentication" method="get" style="justify-self:center; height:100px; display:none">
                            <div style="margin-top:50px">
                            <h4 style="margin:55px; font-family: FreeMono, monospace; font-size: 20px">Entrar com o windows autentication</h4>
                                <input type="hidden" name="returnUrl" value="@returnUrl">
                                    <div>
                                        <button type="submit" name="Submit" class="login__submit button btn-block" style="margin-left: 30px; width: 80%">
                                            <span class="evol-font" style="color: grey; margin-left: 70px">Autenticar</span>
                                        </button>
                                    </div>
                            </div>
                        </form>
                        <div class="auth-error">
                            @if (@errorMessage != null)
                            {
                                <p style="margin:0;">@errorMessage</p>
                            }
                        </div>
                    <div class="social-login">
                        <h1 style="font-family:Arial, Helvetica, sans-serif, monospace; font-size: 15px; color:grey">Faça log in por:</h1>
                        <div style="margin-top: 30px" class="pick-login">
                            <div id="windows-btn" class="circle windows">
                                <img src="~/images/windows_icon.png" style="margin-top:8px" />
                            </div>
                            <div id="credentials-btn" class="circle credentials">
                                <img src="~/images/enter_icon.png" style="margin-top:8px; width:30px; margin-left: -3px">
                            </div>                                          
                        </div>
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>

        @*<div class="container-auth">
            <div class="tittle">
                <h1 class="evol-font"></h1>
            </div>
            <div id="form-wrap" class="login-form">
                <form id="credentials-form" asp-area="core" asp-controller="auth" asp-action="LoginCredentials" method="get" style="width:100%; display:none; height:100px;">
                    <label style="display: block; padding-left:10px; font-weight:bold">Username:</label>
                    <input type="text" asp-for="Username" style="width:100%;border:none; background:rgb(230,230,230)">
                    <label style="display: block;padding-left:10px; font-weight:bold">Password:</label>
                    <input type="password" asp-for="Password" style="width:100%; border:none;background:rgb(230,230,230)">
                    <input type="hidden" name="returnUrl" value="@returnUrl">
                    <input type="submit" name="Submit" class="btn btn-block btn-outline-success" />
                </form>
                <form id="windows-form" asp-area="core" asp-controller="auth" asp-action="LoginWindowsAuthentication" method="get" style="justify-self:center; height:100px; ">
                    <h4 style="margin:0">Entrar com o windows autentication</h4>
                    <input type="hidden" name="returnUrl" value="@returnUrl">
                    <input type="submit" name="Submit" class="btn btn-block btn-success" />
                </form>
                <div class="auth-error">
                    @if (@errorMessage != null)
                    {
                        <p style="margin:0;">@errorMessage</p>
                    }
                </div>

            </div>
            <div class="pick-login">
                <div id="windows-btn" class=" circle windows"></div>
                <div id="credentials-btn" class=" circle credentials"></div>
            </div>
            @*<div class="login-btn-wrap">
        <button id="login-btn">Login</button>
        </div>
        </div>*@
        
    }

    @*<div class="row d-flex justify-content-center h-100">

    <div class="col-12 col-md-8 col-lg-6 col-xl-5">

    @if (User.Identity.IsAuthenticated)
    {
    <p>@User.Identity.Name</p>
    foreach (var claim in User.Claims)
    {
    <p>@claim.Type: @claim.Value</p>
    }

    }
    else
    {
    <div class="card p-5 shadow-2-strong" style="background-color: rgb(248 248 248); border-radius:0px;">
    <div id="loginForm" class="card-body " style="display:none;">
    <div class="form-outline mb-4">
    <label class="form-label text-start" for="typeEmailX-2">Email</label>
    <input type="email" id="typeEmailX-2" class="form-control form-control-sm" />
    </div>

    <div class="form-outline mb-4">
    <label class="form-label text-start" for="typePasswordX-2">Password</label>
    <input type="password" id="typePasswordX-2" class="form-control form-control-sm" />
    </div>
    <div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </div>
    </div>
    <div class="card-body align-items-center" style="margin: 0 auto;">

    <a class="btn btn-primary" asp-area="core" asp-controller="auth" asp-action="LoginADAuthentication">Entrar</a>
    <div id="loginFormBtn" class="btn btn-primary">Entrar Admin</div>

    </div>
    @if (@errorMessage != null)
    {
    <p style="color: red; padding-left:10px;">Erro @errorMessage.Code: @errorMessage.Message</p>
    }
    </div>
    }

    </div>
    </div>*@


</div>
