@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
@if (!ViewBag.hasServiceCompanies)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    <div id="TitlePage">
        <h1>@localizer["ConcludedFulfilment"]</h1>
    </div>
    <form id="ConcludedFulfilmentFrm" class="d-flex" asp-area="Finishing" asp-controller="ConcludedFulfilment" asp-action="RegistFullfill"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#response"
          data-ajax-complete="clearTextBox"
          data-ajax-loading="myLoader">
        <table class="form-group d-flex" >
            <tr>
                <td><h4 style="color: var(--darkestgrey);padding-top:10px">@localizer["FileBarcode"]</h4> </td>
            </tr>
            <tr>
                <td>@Html.TextBox("FileBarcode","",htmlAttributes:new { @class="form-control", id="FileBarcode", type="password"})</td>
            </tr>
            <tr>
                <td class="d-flex" style="padding-top:10px">
                    <input type="submit" value="@localizer["Submit"]" name="Submit" class="btn btn-block btn-outline-info" />
                </td>
            </tr>
        </table>
        <br />
    </form>
    <div id="response" class="d-flex" style="padding-top:10px"></div>
}
@section Scripts
    {
    <script type="text/javascript">
        function clearTextBox() {
            document.getElementById("ConcludedFulfilmentFrm").reset();
            document.getElementById("FileBarcode").focus();
        };

        window.onload = (event) => {
            document.getElementById("FileBarcode").focus();
        };
    </script>

}