@using Shared.ViewModels.Areas.Finishing
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model PendingRecoverDetailViewModel

@{
    bool PrintFile = false;

    if (Model.Permissions.Find(x => x == "PrintFile") != null) { PrintFile = true; }
}
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>

@if (Model == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    <div id="TitlePage">
        <h1>@localizer["PendingRecover"] @ViewBag.ServiceCompanyName</h1>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Source))
    {
        <a class='bx bx-left-arrow' style="color:rgb(90 205 239)" asp-area="Finishing" asp-controller="PendingRecover" asp-action="Index"></a>
    }
    @if (Model.PendingRecoverDetail.PendingRecoverFiles.Count == 0 && Model.PendingRecoverDetail.PendingRecoverRegistDetailFiles.Count == 0)
    {
         <h4 class="display-4 text-center">@localizer["EmptyResult"]</h4>       
    }
    else
    {
        @if (Model.PendingRecoverDetail.PendingRecoverFiles.Count > 0)
        {
            <form id="PendingRecoverFilesFrm" asp-area="Finishing" asp-controller="PendingRecover" asp-action="RegistPendingRecover"
                    data-ajax="true"
                    data-ajax-method="POST"
                    data-ajax-complete="refreshPage"
                    data-ajax-loading="myLoader">
                 <table class="table table-bordered table-sm table-striped">
                    <thead>
                        <tr><th colspan="6">@localizer["PendingRecoverFiles"]</th></tr>
                        <tr>
                            <th>@localizer["RunID"]</th>
                            <th>@localizer["FileName"]</th>
                            <th>@localizer["RecoverType"]</th>
                            <th>@localizer["StartPostObjID"]</th>
                            <th>@localizer["EndPostObjID"]</th>
                            <th>@localizer["Username"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var p in Model.PendingRecoverDetail.PendingRecoverFiles)
                    {
                        <tr>
                            <td>@p.RunID</td>
                            <td>@p.FileName</td>
                            <td>@p.RecoverType</td>
                            <td>@p.StartPostObjID</td>
                            <td>@p.EndPostObjID</td>
                            <td>@p.UserName</td>
                        </tr>
                    }
                    </tbody>
                    @if (Model.PendingRecoverDetail.PendingRecoverFilesJobs.Count > 0)
                    {
                        <tfoot>
                            <tr><th colspan="6">@localizer["ExistsPendingRecoverFilesJobs"]</th></tr>
                        </tfoot>
                    }
                </table>
                <p class="my-3 d-flex justify-content-center"><input value="@localizer["Submit"]" type="submit" name="Submit" class="btn btn-block btn-evoldp" /></p>
                <input type="hidden" id="RecoverType" name="RecoverType" value="RECOVER">
            </form>
        }
        @if (Model.PendingRecoverDetail.PendingRecoverRegistDetailFiles.Count > 0)
        {
            <form id="PendingRecoverRegistDetailFilesFrm" asp-area="Finishing" asp-controller="PendingRecover" asp-action="RegistPendingRecover"
                    data-ajax="true"
                    data-ajax-method="POST"
                    data-ajax-complete="refreshPage"
                    data-ajax-loading="myLoader">
                <table class="table table-bordered table-sm table-striped">
                    <thead>
                        <tr><th colspan="6">@localizer["PendingRecoverRegistDetailFiles"]</th></tr>
                        <tr>
                        <th>@localizer["RunID"]</th>
                        <th>@localizer["FileName"]</th>
                        <th>@localizer["RecoverType"]</th>
                        <th>@localizer["StartPostObjID"]</th>
                        <th>@localizer["EndPostObjID"]</th>
                        <th>@localizer["Username"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var p in Model.PendingRecoverDetail.PendingRecoverRegistDetailFiles)
                    {
                        <tr>
                            <td>@p.RunID</td>
                            <td>@p.FileName</td>
                            <td>@p.RecoverType</td>
                            <td>@p.StartPostObjID</td>
                            <td>@p.EndPostObjID</td>
                            <td>@p.UserName</td>
                        </tr>
                    }
                    </tbody>
                    @if (Model.PendingRecoverDetail.PendingRecoverRegistDetailFilesJobs.Count > 0)
                    {
                        <tfoot>
                            <tr><th colspan="6">@localizer["ExistsPendingRecoverRegistDetailFilesJobs"]</th></tr>
                        </tfoot>
                    }            
                </table>
                <p class="my-3 d-flex justify-content-center"><input value="@localizer["Submit"]" type="submit" name="Submit" class="btn btn-block btn-evoldp" /></p>
                <input type="hidden" id="RecoverType" name="RecoverType" value="RDRECOVER">
            </form>
        }
    }
}
@section Scripts
    {
    <script type="text/javascript">
        function refreshPage() {
            window.location.reload();
        };
    </script>

}

