@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Microsoft.AspNetCore.Mvc.Localization
@using Shared.ViewModels.Areas.Reports
@inject IViewLocalizer localizer
@model BusinessAreasViewModel
<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
@if (Model == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    bool printFilePermission = false;

    if (Model.Permissions.Find(x => x == "PrintFile") != null) { printFilePermission = true; }
    <div id="TitlePage">
        <h1>@localizer["RetentionRunStatus"]</h1>
    </div>

    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th class="evol-fitcontent-column" style="text-align:center"><img class="evol-image" style="width:40px;height:40px" src="~/images/status_print_provider.png" title="@localizer["BusinessAreaTip"]" /></th>
                <th style="vertical-align:middle">@localizer["BusinessArea"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (Business b in Model.BusinessAreas)
            {
                <tr>
                    <td style="text-align:center">
                        <a asp-area="Reports" asp-controller="RetentionReport" asp-action="RetentionRunReport" asp-route-BusinessID="@b.BusinessID" asp-route-BusinessCode="@b.BusinessCode" asp-route-Description="@b.Description" asp-route-source="Index">
                            <img class="evol-image" src="~/images/report.png" title="@localizer["BusinessAreaTip"]: @b.Description" />
                        </a>
                    </td>
                    <td>@b.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
    


