@using Shared.Models.Areas.Reports
@using Shared.ViewModels.Areas.Reports
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model RetentionInfoReportViewModel

@*https://www.w3.org/WAI/tutorials/tables/irregular/  https://datatables.net/extensions/buttons/examples/column_visibility/index.html*@
@*{
    //bool PrintFile = false;

    if (Model.Permissions.Find(x => x == "PrintFile") != null) { PrintFile = true; }
    int totalFilesLeftToPrint = Model.ProductionRunReport.Sum(x => x.FilesLeftToPrint);
    int totalRecFilesLeftToPrint = Model.ProductionRunReport.Sum(x => x.RecFilesLeftToPrint);
}*@
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@if (Model == null || Model.RetentionInfoReport == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    @if (Model.RetentionInfoReport.Count() == 0)
    {
        <div id="ResultPage">
            <h3 class="display-4 text-center">@localizer["NoPendingRetentions"]</h3>
        </div>
    }
    else
    {
        <div id="TitlePage">
            <h1>
                @localizer["DocDetail"]
            </h1>
        </div>
        @*@if (!string.IsNullOrEmpty(ViewBag.Source))
        {
            <a class='bx bx-left-arrow' style="color:rgb(90 205 239)" asp-area="Reports" asp-controller="RetentionReport" asp-action="Index"></a>
        }*@
        @*string ServiceCompanyName = "";
                if (ViewBag.hasMultipleServiceCompanies)
                {
                    ServiceCompanyName += TempData["ServiceCompanyName"];
                }*@

        <div class="my-3">
            <table class="table table-sm table-hover">
                <thead id="bootstrap-overrides" class="sticky-header">
                    <tr>
                        <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Field"]</th>
                        <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Value"]</th>
                    </tr>
                </thead>
                <tbody id="bootstrap-overrides">
                    @foreach (RetentionInfoInfo retention in Model.RetentionInfoReport)
                    {
                        <tr>
                            @{
                                //var retention = RetentionInfo in Model.RetentionInfoReport
                                DateTime rDate;
                                string runDate = retention.RunDate.ToString();
                                if (DateTime.TryParseExact(retention.RunDate.ToString(), "yyyyMMdd",
                                System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out rDate))
                                    runDate = rDate.ToShortDateString();
                                //string RunName = runDate + " [" + retention.RunSequence + "]";
                            }

                            <td>@localizer["ID"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.DocID</td>
                        </tr>
                        <tr>
                            <td>@localizer["DocType"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.DocTypeLayout</td>
                        </tr>
                        <tr>
                            <td>@localizer["Description"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.DocDescription</td>
                        </tr>
                        <tr>
                            <td>
                            @localizer["State"] <br>
                            @localizer["Date"]
                            </td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">
                            @retention.DocState <br>
                            @retention.DocDate
                            </td>
                        </tr>
                        <tr>
                            <td>@localizer["PrintCost"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.PrintCost</td>
                        </tr>
                        <tr>
                            <td>@localizer["MaterialsCost"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.MaterialsCost</td>
                        </tr>
                        <tr>
                            <td>@localizer["Template"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.Template</td>
                        </tr>
                        <tr>
                            <td>@localizer["Product"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.ProductBranch</td>
                        </tr>
                        <tr>
                            <td>@localizer["Company"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.DocCompany</td>
                        </tr>
                        <tr>
                            <td>@localizer["Network"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.Network</td>
                        </tr>
                        <tr>
                            <td>@localizer["ClientSegment"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.ClientSegment</td>
                        </tr>
                        <tr>
                            <td>@localizer["Periodicity"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.Periodicity</td>
                        </tr>
                        <tr>
                            <td>@localizer["CECode"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.CECode</td>
                        </tr>
                        <tr>
                            <td>@localizer["ClientType"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.ClientType</td>
                        </tr>
                        <tr>
                            <td>@localizer["ClientNr"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.ClientNr</td>
                        </tr>
                        <tr>
                            <td>@localizer["NrDoc"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.NrDoc</td>
                        </tr>
                        <tr>
                            <td>@localizer["DescDoc"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.DescDoc</td>
                        </tr>
                        <tr>
                            <td>@localizer["NIF"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.NIF</td>
                        </tr>
                        <tr>
                            <td>@localizer["ApoliceNr"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.NrApolice</td>
                        </tr>
                        <tr>
                            <td>@localizer["CertificateNr"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.CertificateNr</td>
                        </tr>
                        <tr>
                            <td>@localizer["ProcessNr"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.ProcessNr</td>
                        </tr>
                        <tr>
                            <td>@localizer["AccountProduct"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AccountProduct</td>
                        </tr>
                        <tr>
                            <td>@localizer["AccountNr"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AccountNr</td>
                        </tr>
                        <tr>
                            <td>@localizer["AccountPlan"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AccountPlan</td>
                        </tr>
                        <tr>
                            <td>@localizer["AccountSubProduct"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AccountSubProduct</td>
                        </tr>
                        <tr>
                            <td>@localizer["SubsDoc"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.SubsDoc</td>
                        </tr>
                        <tr>
                            <td>@localizer["DocDate"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.DocumentDate</td>
                        </tr>
                        <tr>
                            <td>@localizer["FiscalYear"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.FiscalYear</td>
                        </tr>
                        <tr>
                            <td>@localizer["Via"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.Via</td>
                        </tr>
                        <tr>
                            <td>@localizer["CostCenter"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.CostCenter</td>
                        </tr>
                        <tr>
                            <td>@localizer["Ports"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.Ports</td>
                        </tr>
                        <tr>
                            <td>@localizer["NIB"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.NIB</td>
                        </tr>
                        <tr>
                            <td>@localizer["AdressCompany"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AdressCompany</td>
                        </tr>
                        <tr>
                            <td>@localizer["AdressProduct"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AdressProduct</td>
                        </tr>
                        <tr>
                            <td>@localizer["AdressNr"]</td>
                            <td scope="colgroup" style="text-align:center;vertical-align:middle">@retention.AdressNr</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}



