@using Shared.Models.Areas.Reports
@using Shared.ViewModels.Areas.Reports
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model RetentionReportViewModel

@*https://www.w3.org/WAI/tutorials/tables/irregular/  https://datatables.net/extensions/buttons/examples/column_visibility/index.html*@
@*{
    //bool PrintFile = false;

    if (Model.Permissions.Find(x => x == "PrintFile") != null) { PrintFile = true; }
    int totalFilesLeftToPrint = Model.ProductionRunReport.Sum(x => x.FilesLeftToPrint);
    int totalRecFilesLeftToPrint = Model.ProductionRunReport.Sum(x => x.RecFilesLeftToPrint);
}*@
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@if (Model == null || Model.RetentionReport == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    @if (Model.RetentionReport.Count() == 0)
    {
        <div id="ResultPage">
            <h3 class="display-4 text-center">@localizer["NoPendingRetentions"]</h3>
        </div>
    }
    else
    {
        <div id="TitlePage">
            <h1>
                @localizer["RetentionDocsFor"]
                @TempData["BusinessAreaName"]
            </h1>
        </div>
        @*@if (!string.IsNullOrEmpty(ViewBag.Source))
        {
            <a class='bx bx-left-arrow' style="color:rgb(90 205 239)" asp-area="Reports" asp-controller="RetentionReport" asp-action="Index"></a>
        }*@
        @*string ServiceCompanyName = "";
                if (ViewBag.hasMultipleServiceCompanies)
                {
                    ServiceCompanyName += TempData["ServiceCompanyName"];
                }*@

        <div class="my-3">
            <table class="table table-sm table-hover">
                <thead id="bootstrap-overrides" class="sticky-header">
                    <tr>
                        <th class="borders" rowspan="3" style="text-align:center;vertical-align:middle"></th>
                    </tr>
                    <tr>
                        <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["TypeDoc"]</th>
                        <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["DocID"]</th>
                        <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Description"]</th>
                        <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["MaxDateOfReten"]</th>
                        if ()
                        {
                            <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["DocNumber"]</th>
                            <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["ApoliceNr"]</th>
                            <th scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Product"]</th>
                        }
                    </tr>
                </thead>
                <tbody id="bootstrap-overrides">
                    @foreach (RetentionInfo retention in Model.RetentionReport)
                    {
                        <tr>
                            @{
                                DateTime rDate;
                                string runDate = retention.RunDate.ToString();
                                if (DateTime.TryParseExact(retention.RunDate.ToString(), "yyyyMMdd",
                                System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out rDate))
                                    runDate = rDate.ToShortDateString();
                                //string RunName = runDate + " [" + retention.RunSequence + "]";
                            }

                            <td class="borders" style="text-align:center;vertical-align:middle">
                                @if (/*retention.FilesLeftToPrint > 0 || retention.RecFilesLeftToPrint > 0*/ true)
                                {
                                    <a asp-area="Reports" asp-controller="RetentionReport" asp-action="RetentionInfoReport" asp-route-runidlist="@retention.RunID" asp-route-businessareaid="@retention.BusinessAreaID">
                                        <img class="evol-image grow" src="~/images/report.png" />
                                    </a>
                                }
                                else
                                {
                                    <a asp-area="Reports" asp-controller="RetentionReport" asp-action="RetentionInfoReport" asp-route-runidlist="@retention.RunID" asp-route-businessareaid="@retention.BusinessAreaID">
                                        <img class="evol-image grow" src="~/images/report.png" />
                                    </a>
                                }
                                
                            </td>
                    
                            <td class="headcol">@retention.DocLayout@retention.DocType</td>
                            <td>@retention.DocID</td>
                            <td>@retention.FileID</td>
                            <td>@retention.ProdMaxDate</td>
                            if()
                            {
                                <td>@retention.SetID</td>
                                <td>@retention.NrApolice</td>
                                <td>@retention.Product</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}



