@using Shared.Models.Areas.Reports
@using Shared.ViewModels.Areas.Reports
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model RetentionRunReportViewModel

@*https://www.w3.org/WAI/tutorials/tables/irregular/  https://datatables.net/extensions/buttons/examples/column_visibility/index.html*@
<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
@if (Model == null || Model.RetentionRunReport == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    @if (Model.RetentionRunReport.Count() == 0)
    {
        <div id="ResultPage">
            <h3 class="display-4 text-center">@localizer["NoPendingRetentions"]</h3>
        </div>
    }
    else
    {
        <div id="TitlePage">
            <h1>
                @localizer["RetentionRunStatus"]
            </h1>
        </div>
            <div class="my-3">
                <table class="table table-sm table-hover">
                    <thead id="bootstrap-overrides" class="sticky-header">
                        <tr>
                            <th class="borders" rowspan="3" style="text-align:center;vertical-align:middle; width: 50px"></th>
                        <th colspan="5" scope="rowgroup" style="text-align:center;vertical-align:middle">
                                @localizer["Retentions"]
                                @Model.RefDate.ToString()
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="2" scope="colgroup" style="text-align:center;vertical-align:middle; width: 250px">@localizer["RunsDate"]</th>
                            <th rowspan="1" colspan="2" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["TypeDoc"]</th>
                            <th rowspan="2" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["RetentionsDocuments"]</th>
                            <th rowspan="2" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["MaxDateOfProd"]</th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Layout"]</th>
                            <th rowspan="1" colspan="1" scope="colgroup" style="text-align:center;vertical-align:middle">@localizer["Subtype"]</th>
                        </tr>
                    </thead>
                    <tbody id="bootstrap-overrides">
                    @{
                        int RunsCountTotal = 0;
                        int RetentionsTotal = 0;
                    }
                        @foreach (RetentionRunInfo retention in Model.RetentionRunReport)
                        {
                            <tr>
                                @{
                                    DateTime rDate;
                                    string runDate = retention.RunDate.ToString();
                                    if (DateTime.TryParseExact(retention.RunDate.ToString(), "yyyyMMdd",
                                    System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out rDate))
                                        runDate = rDate.ToShortDateString();
                                }

                                <td class="borders" style="text-align:center;vertical-align:middle; width: 50px"></td>
                                <td class="headcol" style="text-align:center;width: 250px">
                                    @retention.RunDate
                                <a style="float:right" asp-area="Reports" asp-controller="RetentionReport" asp-action="RetentionReport" asp-route-runidlist="@retention.RunID" asp-route-businessareaid="@retention.BusinessAreaID">
                                    <img class="evol-image grow" style="height:20px; width:20px" src="~/images/info.png" />
                                    </a>
                                </td>
                                @{
                                    RunsCountTotal ++;

                                }
                                <td style="text-align:center;">@retention.DocTypeLayout</td>
                                <td style="text-align:center;">@retention.DocTypeSubtype</td>
                                <td style="text-align:center;width: 250px">@retention.RetentionDocs</td>
                                @{
                                    RetentionsTotal += retention.RetentionDocs;
                                }
                                <td style="text-align:center;width: 250px">@retention.MaxProduction</td>
                            </tr>
                        }
                        <tr class="table-end">
                            <td class="table-end-data headcol borders" style="width: 50px">Total</td>
                            <td class="table-end-data" style="text-align:center;width: 250px">@RunsCountTotal</td>
                            <td></td>
                            <td></td>
                            <td class="table-end-data" style="text-align:center;width: 250px">@RetentionsTotal</td>
                            <td style="width: 250px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    }
}



