@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ExpContractViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddExpCompany = false;
    bool AddExpeditionContract = false;
    bool DeleteExpeditionContract = false;
    bool ExportExpeditionContract = false;
    bool AddExpeditionType = false;
    bool AddExpRegistRange = false;
    bool ExportExpRegistRange = false;

    if (Model.Permissions.Find(x => x == "AddExpeditionType") != null) { AddExpeditionType = true; }
    if (Model.Permissions.Find(x => x == "AddExpCompany") != null) { AddExpCompany = true; }
    if (Model.Permissions.Find(x => x == "AddExpeditionContract") != null) { AddExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpeditionContract") != null) { DeleteExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "ExportExpeditionContract") != null) { ExportExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "AddExpRegistRange") != null) { AddExpRegistRange = true; }
    if (Model.Permissions.Find(x => x == "ExportExpRegistRange") != null) { ExportExpRegistRange = true; }
}
@if (Model == null || Model.ExpeditionContracts == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string value = "";
    <div id="TitlePage">
        <h1>@localizer["ExpContracts"]</h1>
        <h2>@Model.Company.CompanyName</h2>
        <a class='bx bx-left-arrow grow_01' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompany" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.Company)">
        </a>
    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddExpeditionContract)
                {
                    <th rowspan="2" class="evol-fitcontent-column borders" style="text-align: center"><img onclick="EditRow('')" style="background:none; width:35px;height:35px;" class="grow" src="~/images/add.png" title="@localizer["ExpContractAdd"]" /></th>
                }
                <th rowspan ="2">@localizer["ContractNr"]</th>
                <th colspan="8">@localizer["Client"]</th>
            </tr>
            <tr>
                <th>@localizer["ClientNr"]</th>
                <th>@localizer["ClientName"]</th>
                <th>@localizer["ClientNIF"]</th>
                <th>@localizer["ClientAddress"]</th>
                <th>@localizer["ClientPostalCode"]</th>
                <th>@localizer["ClientPostalCodeDescription"]</th>
                <th>@localizer["CompanyExpeditionCode"]</th>
                <th>@localizer["PurchaseOrderNr"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @if (AddExpeditionContract)
            {
                <tr id="Hide|" style="display: none">
                    <form id="AddFrm|" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Expedition" asp-action="ConfigExpContract" asp-route-expcompanyjson="@JsonConvert.SerializeObject(Model.Company)">
                    <td style="align-items:center; display:flex" class="borders">
                        <img onclick="CancelRow('')" type="image" class="evol-image float" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                        <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image float" name="Submit" src="~/images/Ok.png" />
                    </td>
                    <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@Model.Company.ID"/>
                    <td><input id=ContractNr name=ContractNr type="number" min="0" max="2147483647" style="width: 100%" value="0" /></td>
                    <td><input id=ClientNr name=ClientNr type="number" min="0" max="2147483647" style="width: 100%" value="0" /></td>
                    <td><input id=ClientName name=ClientName type="text" maxlength="90" style="width: 100%"  /></td>
                    <td><input id=ClientNIF name=ClientNIF type="text" maxlength="9" style="width: 100%" /></td>
                    <td><input id=ClientAddress name=ClientAddress type="text" maxlength="100" style="width: 100%" /></td>
                    <td><input id=ClientPostalCode name=ClientPostalCode type="text" maxlength="10" style="width: 100%" /></td>
                    <td><input id=ClientPostalCodeDescription name=ClientPostalCodeDescription type="text" maxlength="50" style="width: 100%" /></td>
                    <td><input id=CompanyExpeditionCode name=CompanyExpeditionCode type="text" maxlength="2" style="width: 100%" /></td>
                    <td><input id=PurchaseOrderNr name=PurchaseOrderNr type="number" min="0" max="999999999999999999" style="width: 100%" /></td>
                    </form>
                </tr>
            }
            @foreach(ExpContractElement c in Model.ExpeditionContracts)
            {
                value = c.ContractID.ToString();
                <tr id="Show|@value" ondblclick="EditRow('@value')">
                    @if (AddExpeditionContract)
                    {
                        <td class="evol-fitcontent-column borders" style="text-align: center">
                            <img onclick="EditRow('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ExpContractChange"]" />
                        </td>
                    }
                    <td>@c.ContractNr</td>
                    <td>@c.ClientNr</td>
                    <td>@c.ClientName</td>
                    <td>@c.ClientNIF</td>
                    <td>@c.ClientAddress</td>
                    <td>@c.ClientPostalCode</td>
                    <td>@c.ClientPostalCodeDescription</td>
                    <td>@c.CompanyExpeditionCode</td>
                    <td>@c.PurchaseOrderNr</td>
                </tr>
                @if (AddExpeditionContract)
                {
                    <tr id="Hide|@value" style="display: none">
                        <form id="AddFrm|@value" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Expedition" asp-action="ConfigExpContract" asp-route-expcompanyjson="@JsonConvert.SerializeObject(Model.Company)">
                        <td style="align-items:center; display:flex; justify-content:center; margin-top:3px" class="borders">
                            <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image float" name="Submit" src="~/images/Ok.png" />
                            </td>
                            <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@c.ExpCompanyID" />
                            <input style="display: none" id=ContractID name=ContractID value="@c.ContractID" />
                            <td><input id=ContractNr name=ContractNr type="number" min="0" max="2147483647" style="width: 100%" value="@c.ContractNr" /></td>
                            <td><input id=ClientNr name=ClientNr type="number" min="0" max="2147483647" style="width: 100%" value="@c.ClientNr" /></td>
                            <td><input id=ClientName name=ClientName type="text" maxlength="90" style="width: 100%" value="@c.ClientName" /></td>
                            <td><input id=ClientNIF name=ClientNIF type="text" maxlength="9" style="width: 100%" value="@c.ClientNIF" /></td>
                            <td><input id=ClientAddress name=ClientAddress type="text" maxlength="100" style="width: 100%" value="@c.ClientAddress" /></td>
                            <td><input id=ClientPostalCode name=ClientPostalCode type="text" maxlength="10" style="width: 100%" value="@c.ClientPostalCode" /></td>
                            <td><input id=ClientPostalCodeDescription name=ClientPostalCodeDescription type="text" maxlength="50" style="width: 100%" value="@c.ClientPostalCodeDescription" /></td>
                            <td><input id=CompanyExpeditionCode name=CompanyExpeditionCode type="text" maxlength="2" style="width: 100%" value="@c.CompanyExpeditionCode" /></td>
                            <td><input id=PurchaseOrderNr name=PurchaseOrderNr type="number" min="0" max="999999999999999999" style="width: 100%" value="@c.PurchaseOrderNr" /></td>
                         </form>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script type="text/javascript">
      function confirmExceptionDelete() {
            if (confirm(deleteMsgException)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Show|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = true;
            return false;
        }
        function EditRow(value) {
            eShide('Show|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }
        function isClickInsideTr(element) {
            while (element) {
                if (element.id.includes('Hide|') || element.classList.contains('evol-image')) {
                    return true;
                }
                element = element.parentElement;
            }
            return false;
        }
        document.addEventListener('click', function (event) {
            if (!isClickInsideTr(event.target)) {
                trElements = document.querySelectorAll('tr[id^="Hide|"]');
                trElements.forEach(tElement => {
                    if (/^Hide\|\d+/.test(tElement.id)) {
                        let val = tElement.id.substring(5);
                        CancelRow(val);
                    }
                });
            }
        });
    </script>
}