@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ExpCompanyViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddExpCompany = false;
    bool AddExpeditionContract = false;
    bool DeleteExpeditionContract = false;
    bool ExportExpeditionContract = false;
    bool AddExpeditionType = false;
    bool AddExpRegistRange = false;
    bool ExportExpRegistRange = false;

    if (Model.Permissions.Find(x => x == "AddExpeditionType") != null) { AddExpeditionType = true; }
    if (Model.Permissions.Find(x => x == "AddExpCompany") != null) { AddExpCompany = true; }
    if (Model.Permissions.Find(x => x == "AddExpeditionContract") != null) { AddExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpeditionContract") != null) { DeleteExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "ExportExpeditionContract") != null) { ExportExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "AddExpRegistRange") != null) { AddExpRegistRange = true; }
    if (Model.Permissions.Find(x => x == "ExportExpRegistRange") != null) { ExportExpRegistRange = true; }
}
@if (Model == null || Model.ExpCompany == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    Company expCompany = Model.ExpCompany;
    List<ExpCompanyType> expCompanyTypes = new List<ExpCompanyType>();
    if (Model.ExpTypes != null)
        expCompanyTypes = Model.ExpTypes.ToList();
    List<ExpeditionTypeElement> expCompanyTypesNotIn = Model.Types.Where(x => Model.Types.Where(y => y.ExpeditionType == x.ExpeditionType).Count() == 0).ToList();

    string value;
    int level0 = 0, level1 = 0;
    string id0Value = "arrow" + level0.ToString();
    string name0Value = "level0|" + level0.ToString();
    string arrowid0 = "arrow0|";
    string id1Value = "arrow" + level1.ToString();
    string name1Value = "level1|" + level1.ToString();
    string arrowid1 = "arrow1|";
    string startDateDesc;
    List<ExpCompanyConfigResume> startDateConfigs;
    <div class="popup-container" id="confirmPopupEdit" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="align-content-center FormEdit" asp-controller="Expedition" asp-action="ChangeExpCompany" asp-route-expeditiontypeviewJson="@JsonConvert.SerializeObject(Model)">
                    <h1>@localizer["PopupMessageEdit"]</h1>
                    <div class="form-inputs">
                        <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@expCompany.ID" />
                        <h6>@localizer["CompanyCode"]</h6>
                        <input id=ExpCompanyCode name=ExpCompanyCode value="" />
                        <h6>@localizer["CompanyName"]</h6>
                        <input id=CompanyName name=CompanyName type="text" maxlength="256" style="width: 100%" value="" />
                        <h6>@localizer["CompanyAddress"]</h6>
                        <input id=CompanyAddress name=CompanyAddress type="text" maxlength="256" style="width: 100%" value="" />
                        <h6>@localizer["CompanyPostalCode"]</h6>
                        <input id=CompanyPostalCode name=CompanyPostalCode type="text" maxlength="256" style="width: 100%" value="" />
                        <h6>@localizer["CompanyPostalCodeDescription"]</h6>
                        <input id=CompanyPostalCodeDescription name=CompanyPostalCodeDescription type="text" maxlength="256" style="width: 100%" value="" />
                        <h6>@localizer["CompanyCountry"]</h6>
                        <input id=CompanyCountry name=CompanyCountry type="text" maxlength="256" style="width: 100%" value="" />
                    </div>
                    <div class="popup-buttons">
                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popup-container" id="confirmPopupAdd" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="align-content-center FormEdit" asp-area="evolDP"
                  asp-controller="Expedition" asp-action="AddExpCompanyConfig" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.ExpCompany)">
                    <h1>@localizer["PopupMessageAdd"]</h1>
                    <div class="form-inputs">
                        <h6>@localizer["StartDate"]</h6>
                            <input id="StartDate" name="StartDate" type="date" value="@DateTime.Now.ToShortDateString" />
                    </div>
                    <div class="popup-buttons">
                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="TitlePage">
        <h1>@localizer["ExpCompany"]</h1>
    </div>
    <div>
        <a class='bx bx-left-arrow grow_01' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="Expedition" asp-action="Companies">
        </a>
        <a asp-area="evolDP" asp-controller="Expedition" asp-action="ExpContracts" asp-route-expcompanyJson="@JsonConvert.SerializeObject(expCompany)">
            <img style="background:none; width:50px;height:50px;" class="grow" src="~/images/contract2.png" title="@localizer["ExpContracts"]" />
        </a>
        @if (expCompanyTypes.Where(x => x.RegistMode).Count() > 0)
        {
        <a asp-area="evolDP" asp-controller="Expedition" asp-action="ExpRegistRange" asp-route-expcompanyJson="@JsonConvert.SerializeObject(expCompany)">
                <img style="background:none; width:50px;height:50px;" class="grow" src="~/images/RegistredMail2.png" title="@localizer["ExpRegistRange"]" />
        </a>
        }
    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
           <tr>
                @if(AddExpCompany)
                {
                    <th class="evol-fitcontent-column borders"></th>
                }
                <th>@localizer["CompanyCode"]</th>
                <th>@localizer["CompanyName"]</th>
                <th>@localizer["CompanyAddress"]</th>
                <th>@localizer["CompanyPostalCode"]</th>
                <th>@localizer["CompanyPostalCodeDescription"]</th>
                <th>@localizer["CompanyCountry"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            <tr id="Show|ExpCompany" ondblclick="openPopupEdit()">
                @if (AddExpCompany)
                {
                <td style="text-align: center" class="borders">
                        <img onclick="openPopupEdit()" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeCompany"]" />
                </td>
                }
                <td>@expCompany.CompanyCode</td>
                <td>@expCompany.CompanyName</td>
                <td>@expCompany.CompanyAddress</td>
                <td>@expCompany.CompanyPostalCode</td>
                <td>@expCompany.CompanyPostalCodeDescription</td>
                <td>@expCompany.CompanyCountry</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddExpeditionType)
                {
                <th rowspan="2" class="borders">
                    @if (expCompanyTypesNotIn.Count() > 0)
                    {
                    <img class="grow" onclick="openPopupAdd1()" style="background:none; width:35px;height:35px;" src="~/images/add.png" title="@localizer["AddExpeditionType"]" />
                    }
                </th>
                }
                <th rowspan="2">@localizer["ExpeditionType"]</th>
                <th rowspan="2" title="@localizer["RegistModeTip"]">@localizer["RegistMode"]</th>
                <th rowspan="2" title="@localizer["SeparationModeTip"]">@localizer["SeparationMode"]</th>
                <th rowspan="2" title="@localizer["BarcodeRegistModeTip"]">@localizer["BarcodeRegistMode"]</th>
                <th rowspan="2" title="@localizer["GenerateDetailRegistTip"]">@localizer["GenerateDetailRegist"]</th>
                <th colspan="3">@localizer["DRFlags"]</th>
            </tr>
            <tr>
                <th>@localizer["DRFlagRegistado"]</th>
                <th>@localizer["DRFlagEncomenda"]</th>
                <th>@localizer["DRFlagPessoal"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (ExpCompanyType e in expCompanyTypes)
            {
                ExpeditionTypeElement expeditionType = Model.Types.First(x => x.ExpeditionType == e.ExpeditionType);
                e.ExpCompanyID = expCompany.ID;
                List<ExpCompanyType> eList = new List<ExpCompanyType>();
                eList.Add(e);
                expeditionType.ExpCompanyTypesList = eList; 
                value = e.ExpeditionType.ToString();
                @if (AddExpeditionType && expCompanyTypesNotIn.Count() > 0)
                {
                    <tr id="Hide|Type" style="display: none" class="borders">
                        <form id="AddFrm|Type" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Expedition" asp-action="ChangeExpCompanyType"
                  asp-route-expeditiontypeJson="@JsonConvert.SerializeObject(expeditionType)" asp-route-source="ExpCompany">
                        <td style="align-items:center; display:flex" class="borders">
                            <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image float" name="Submit" src="~/images/Ok.png" />
                        </td>
                        <td>
                            <select id="ExpeditionType" name="ExpeditionType">
                                    @foreach (ExpeditionTypeElement x in expCompanyTypesNotIn)
                                    {
                                    <option value="@x.ExpeditionType">@x.Description</option>
                                    }
                            </select>
                        </td>
                        <td><input onchange="RegistModeChange()" type="checkbox" id="RegistMode" name="RegistMode" /></td>
                        <td><input type="checkbox" id="SeparationMode" name="SeparationMode" /></td>
                        <td><input type="number" min="0" max="1" id="BarcodeRegistMode" name="BarcodeRegistMode" value="0" /></td>
                        <td><input type="checkbox" id="DRFlagGenerateDetailRegist" disabled /></td>
                        <td><input type="checkbox" id="DRFlagRegistado" disabled /></td>
                        <td><input type="checkbox" id="DRFlagEncomenda" disabled /></td>
                        <td><input type="checkbox" id="DRFlagPessoal" disabled /></td>
                        </form>
                    </tr>
                }
                value = e.ExpeditionType.ToString();
                <tr id="Show|@value" ondblclick="openPopupEdit1('@value')">
                    @if (AddExpeditionType)
                    {
                        <td class="borders">
                            <img onclick="openPopupEdit1('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeExpCompanyType"]" />
                            @* <a asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompanyConfig" asp-route-expcompanyviewmodelJson="@JsonConvert.SerializeObject(Model)" asp-route-expeditiontype="@c.ExpeditionType">
                                <img class="evol-image" src="~/images/cost.png" title="@localizer["ExpCompanyConfig"]" />
                            </a>*@
                        </td>
                    }
                    <td>@e.ExpeditionTypeDesc</td>
                    @{
                        value = e.RegistMode ? "checked" : "";
                    }
                    <td><input type="checkbox" id="RegistMode" @value disabled /></td>
                    @{
                        value = e.SeparationMode ? "checked" : "";
                    }
                    <td><input type="checkbox" id="SeparationMode" @value disabled /></td>
                    @{
                        value = e.BarcodeRegistMode != null ? ((bool)e.BarcodeRegistMode ? "1" : "0") : "0";
                    }
                    <td>@value</td>
                    @{
                        value = e.GenerateDetailRegist ? "checked" : "";
                    }
                    <td><input type="checkbox" id="GenerateDetailRegist" @value disabled /></td>
                    @{
                        value = e.DRFlagRegistado ? "checked" : "";
                    }
                    <td><input type="checkbox" id="DRFlagRegistado" @value disabled /></td>
                    @{
                        value = e.DRFlagEncomenda ? "checked" : "";
                    }
                    <td><input type="checkbox" id="DRFlagEncomenda" @value disabled /></td>
                    @{
                        value = e.DRFlagPessoal ? "checked" : "";
                    }
                    <td><input type="checkbox" id="DRFlagPessoal" @value disabled /></td>
                </tr>
                @if (AddExpeditionType)
                {
                    value = e.ExpeditionType.ToString();
                    <div class="popup-container confirmPopupEdit1 FormEdit" id="Edit|@value" style="display: none;">
                        <div class="bgGradient">
                            <div class="popup">
                                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="Expedition" asp-action="ChangeExpCompanyType"
                                   asp-route-expeditiontypeJson="@JsonConvert.SerializeObject(expeditionType)" asp-route-source="ExpCompany">
                                    <h1>@localizer["PopupMessageEdit"]</h1>
                                    <div class="form-inputs">
                                        <h6>@localizer["ExpeditionType"]</h6>
                                        <input type="text" id="ExpeditionTypeDesc" name="ExpeditionTypeDesc" value="@e.ExpeditionTypeDesc" readonly />
                                        <div class="popup-div">
                                            <h6>@localizer["RegistMode"]</h6>
                                            <h6>@localizer["SeparationMode"]</h6>
                                        </div>
                                        <div class="popup-div">
                                            @{
                                                value = e.RegistMode ? "checked" : "";
                                            }
                                            <input style="margin-bottom: 10px" onchange="RegistModeChange()" type="checkbox" id="RegistMode" name="RegistMode" @value />
                                            @{
                                                value = e.SeparationMode ? "checked" : "";
                                            }
                                            <input style="margin-bottom: 10px" type="checkbox" id="SeparationMode" name="SeparationMode" @value />
                                        </div>
                                        @{
                                            value = e.BarcodeRegistMode != null ? ((bool)e.BarcodeRegistMode ? "1" : "0") : "0";
                                        }
                                        <h6>@localizer["BarcodeRegistMode"]</h6>
                                        <input type="number" min="0" max="1" id="BarcodeRegistMode" name="BarcodeRegistMode" value="@value" />
                                        <div class="popup-div">
                                            <h6>@localizer["GenerateDetailRegist"]</h6>
                                            <h6>@localizer["DRFlagRegistado"]</h6>
                                        </div>
                                        <div class="popup-div">
                                            @{
                                                value = e.GenerateDetailRegist ? "checked" : "";
                                                name0Value = value + "DRFlagGenerateDetailRegist";
                                            }
                                            <input style="margin-bottom: 10px" type="checkbox" id="@name0Value" @value disabled />
                                            @{
                                                value = e.DRFlagRegistado ? "checked" : "";
                                                name0Value = value + "DRFlagRegistado";
                                            }
                                            <input style="margin-bottom: 10px" type="checkbox" id="@name0Value" @value disabled />
                                        </div>
                                        @{
                                            value = e.DRFlagEncomenda ? "checked" : "";
                                            name0Value = value + "DRFlagEncomenda";
                                        }
                                        <h6>@localizer["DRFlagEncomenda"]</h6>
                                        <input style="width: 20px; margin-bottom: 10px" type="checkbox" id="@name0Value" @value disabled />
                                        @{
                                            value = e.DRFlagPessoal ? "checked" : "";
                                            name0Value = value + "DRFlagPessoal";
                                        }
                                        <h6>@localizer["DRFlagPessoal"]</h6>
                                        <input style="width: 20px" type="checkbox" id="@name0Value" @value disabled />
                                    </div>
                                    <div class="popup-buttons">
                                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>
    if (Model.Configs.Count() > 0)
    {
        <div id="TitlePage">
            <h3>@localizer["ExpCompanyConfig"]</h3>
        </div>
        <table class="table table-sm table-hover table-collapse-seperate">
            <thead id="bootstrap-overrides" class="table-info">
            <tr>
                    <th class="evol-fitcontent-column borders" style="text-align: center">
                    @if (AddExpeditionType)
                    {
                            <img onclick="openPopupAdd()" style="background:none; width:30px;height:30px;" class="grow" src="~/images/add.png" title="@localizer["ExpCompanyConfigAdd"]" />
                    }
                </th>
                <th>@localizer["StartDate"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @if (AddExpeditionType)
            {
                    <tr id="Hide|ExpCompanyConfig" style="display: none">
                    <form id="AddFrm|ExpCompanyConfig" class="d-flex justify-content-center m-5" asp-area="evolDP"
                  asp-controller="Expedition" asp-action="AddExpCompanyConfig" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.ExpCompany)">
                        <td style="align-items:center; display:flex" class="borders">
                           <img onclick="CancelRow('ExpCompanyConfig')" type="image"class="evol-image float" src="~/images/cancel.png" title="@localizer["Cancel"]"/>
                           <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image float" name="Submit" src="~/images/Ok.png"/>
                        </td>
                        <td>
                            <input id="StartDate" name="StartDate" type="date" value="@DateTime.Now.ToShortDateString" />
                        </td>
                    </form>
                </tr>
            }
            @foreach (var sDate in Model.Configs.Select(x => x.StartDate).Distinct().ToList())
            {
                level0++;
                name0Value = "level" + level0.ToString();
                arrowid0 = "arrow0|" + level0.ToString();
                id0Value = "arrow" + name0Value;
                DateTime startDateDT;
                startDateDesc = sDate.ToString();
                startDateConfigs = Model.Configs.Where(x => x.StartDate == sDate).ToList();
                if (DateTime.TryParseExact(sDate.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out startDateDT))
                    startDateDesc = startDateDT.ToShortDateString();
                <tr>
                    <td style="align-items:center; display:flex" class="borders collapsible" id="@id0Value" onclick="javascript:showDetail('@name0Value','@arrowid0')">
                    <a asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompanyConfig" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.ExpCompany)" asp-route-expcompanyConfigsJson="@JsonConvert.SerializeObject(startDateConfigs)" asp-route-startdate="@sDate">
                                <img class="evol-image grow" src="~/images/cost.png" title="@localizer["ExpCompanyConfig"]" />
                    </a>
                            <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid0">
                    </td>
                    <td colspan="2">@startDateDesc</td>
                </tr>
                <tr id="@name0Value" class="borders" style="display: none">
                    <td colspan="2" class="table-collapse">
                        <table class="table table-sm table-hover table-collapse-seperate" style="padding-top: 10px">
                            <thead id="bootstrap-overrides" class="table-info">
                                <th class="evol-fitcontent-column borders"></th>
                                <th>@localizer["ExpeditionType"]</th>
                            </thead>
                            <tbody id="bootstrap-overrides">
                                @foreach(var tType in Model.Configs.Where(x => x.StartDate == sDate).Select(x=> x.ExpeditionType).Distinct().ToList())
                                {
                                    List<ExpCompanyConfigResume> typeList = Model.Configs.Where(x => x.StartDate == sDate && x.ExpeditionType == tType).ToList();
                                    level1++;
                                    name1Value = "detail" + level1.ToString();
                                    arrowid1 = "arrow1|" + level1.ToString();
                                    id1Value = "arrow" + name1Value;
                                    <tr>
                                            <td style="align-items:center; display:flex;margin-left: 30px" class="borders collapsible" id="@id1Value" onclick="javascript:showDetail('@name1Value','@arrowid1')">
                                            <a asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompanyConfig" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.ExpCompany)" asp-route-startdate="@sDate" asp-route-expeditiontype="@tType">
                                                <img class="evol-image grow" src="~/images/cost.png" title="@localizer["ExpCompanyConfig"]" />
                                            </a>
                                                <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid1">
                                        </td>
                                        <td>@typeList.First().ExpeditionTypeDesc</td>
                                    </tr>
                                    <tr id="@name1Value" class="borders" style="display: none">
                                        <td colspan="2" class="table-collapse">
                                            <table class="table table-sm table-hover table-collapse-seperate" style="padding-top: 10px">
                                                <thead id="bootstrap-overrides" class="table-info borders">
                                                    <tr>
                                                        <th class="evol-fitcontent-column borders">
                                                        <th>@localizer["ExpeditionZone"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bootstrap-overrides">
                                                    @foreach (var zZone in typeList.Select(x => x.ExpeditionZone).Distinct().ToList())
                                                    {
                                                        <tr>
                                                                <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                <a asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompanyConfig" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.ExpCompany)" asp-route-startdate="@sDate" asp-route-expeditiontype="@tType" asp-route-expeditionzone="@zZone">
                                                                    <img class="evol-image grow" src="~/images/cost.png" title="@localizer["ExpCompanyConfig"]" />
                                                                </a>
                                                            </td>
                                                            <td>@typeList.Where(x => x.ExpeditionZone == zZone).First().ExpeditionZoneDesc</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                             </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
}
@section Scripts
    {
    <script type="text/javascript">
        function RegistModeChange() {
            var checkbox = document.getElementById("RegistMode");
            chkElements = document.querySelectorAll('input[id^="checkedDRFlag"]');
            chkElements.forEach(tElement => {
                tElement.checked = checkbox.checked;
            });
        }
        function openPopupAdd() {
            document.getElementById("confirmPopupAdd").style.display = "flex";
        }
        function openPopupEdit() {
            document.getElementById("ExpCompanyCode").value = document.getElementById("Show|ExpCompany").querySelector("td:nth-child(2)").textContent;
            document.getElementById("CompanyName").value = document.getElementById("Show|ExpCompany").querySelector("td:nth-child(3)").textContent;
            document.getElementById("CompanyAddress").value = document.getElementById("Show|ExpCompany").querySelector("td:nth-child(4)").textContent;
            document.getElementById("CompanyPostalCode").value = document.getElementById("Show|ExpCompany").querySelector("td:nth-child(5)").textContent;
            document.getElementById("CompanyPostalCodeDescription").value = document.getElementById("Show|ExpCompany").querySelector("td:nth-child(6)").textContent;
            document.getElementById("CompanyCountry").value = document.getElementById("Show|ExpCompany").querySelector("td:nth-child(7)").textContent;
            document.getElementById("confirmPopupEdit").style.display = "flex";
        }
        function openPopupEdit1(value) {
            document.getElementById("Edit|" + value).style.display = "flex";
        }
        function confirmBtn() {
            return true;
        }
        function closePopup() {
            document.getElementById("confirmPopupEdit").style.display = "none";
            document.getElementById("confirmPopupAdd").style.display = "none";
            var elements = document.querySelectorAll(".confirmPopupEdit1");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
            return false;
        }
    </script>
}