@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ExpeditionRegistViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddExpCompany = false;
    bool AddExpeditionContract = false;
    bool DeleteExpeditionContract = false;
    bool ExportExpeditionContract = false;
    bool AddExpeditionType = false;
    bool AddExpRegistRange = false;
    bool ExportExpRegistRange = false;

    if (Model.Permissions.Find(x => x == "AddExpeditionType") != null) { AddExpeditionType = true; }
    if (Model.Permissions.Find(x => x == "AddExpCompany") != null) { AddExpCompany = true; }
    if (Model.Permissions.Find(x => x == "AddExpeditionContract") != null) { AddExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpeditionContract") != null) { DeleteExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "ExportExpeditionContract") != null) { ExportExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "AddExpRegistRange") != null) { AddExpRegistRange = true; }
    if (Model.Permissions.Find(x => x == "ExportExpRegistRange") != null) { ExportExpRegistRange = true; }
}
@if (Model == null || Model.ExpeditionRegistIDs == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string value = "";
    <div id="TitlePage">
        <h1>@localizer["ExpRegistRange"]</h1>
        <h2>@Model.Company.CompanyName</h2>
        <a class='bx bx-left-arrow' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompany" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.Company)">
        </a>
    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddExpRegistRange)
                {
                    <th style="text-align: center"><img onclick="EditRow('')" style="background:none; width:35px;height:35px;" src="~/images/add.png" title="@localizer["ExpRegistRangeAdd"]" /></th>
                }
                <th>@localizer["CompanyRegistCode"]</th>
                <th>@localizer["StartExpeditionID"]</th>
                <th>@localizer["EndExpeditionID"]</th>
                <th>@localizer["RegistCodePrefix"]</th>
                <th>@localizer["RegistCodeSuffix"]</th>
                <th>@localizer["LastExpeditionID"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @if (AddExpRegistRange)
            {
                <tr id="Hide|" style="display: none">
                    <form id="AddFrm|" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Expedition" asp-action="ConfigExpRegistRange" asp-route-expcompanyjson="@JsonConvert.SerializeObject(Model.Company)">
                        <td style ="align-items:center; display:flex">
                           <img onclick="CancelRow('')" type="image"class="evol-image" src="~/images/cancel.png" title="@localizer["Cancel"]"/>
                           <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image" name="Submit" src="~/images/Ok.png"/>
                        </td>
                        <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@Model.Company.ID" />
                        @if (Model.ExpeditionRegistIDs.Count() > 0)
                        {
                        <td>@Model.ExpeditionRegistIDs.First().CompanyRegistCode.ToString()
                            <input id=CompanyRegistCode name=CompanyRegistCode type="number" min="0" max="2147483647" style="display: none;width: 100%" value="@Model.ExpeditionRegistIDs.First().CompanyRegistCode.ToString()" /></td>
                        }
                        else
                        {
                            <td><input id=CompanyRegistCode name=CompanyRegistCode type="number" min="0" max="2147483647" style="width: 100%" value="0" /></td>
                        }
                        <td><input id=StartExpeditionID name=StartExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="0" /></td>
                        <td><input id=EndExpeditionID name=EndExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="0" /></td>
                        <td><input id=RegistCodePrefix name=RegistCodePrefix type="text" maxlength="2" style="width: 100%" value="RP" /></td>
                        <td><input id=RegistCodeSuffix name=RegistCodeSuffix type="text" maxlength="2" style="width: 100%" value="PT" /></td>
                        <td></td>
                    </form>
                </tr>
            }
            @foreach(ExpeditionRegistElement e in Model.ExpeditionRegistIDs)
            {
                value = e.StartExpeditionID.ToString();
                <tr id="Show|@value">
                    @if (AddExpRegistRange)
                    {
                        <td>
                            <img onclick="EditRow('@value')" class="evol-image" src="~/images/edit.png" title="@localizer["ExpRegistRangeChange"]" />
                        </td>
                    }
                    <td>@e.CompanyRegistCode</td>
                    <td>@e.StartExpeditionID</td>
                    <td>@e.EndExpeditionID</td>
                    <td>@e.RegistCodePrefix</td>
                    <td>@e.RegistCodeSuffix</td>
                    <td>@e.LastExpeditionID</td>
                </tr>
                @if (AddExpRegistRange)
                {
                    <tr id="Hide|@value" style="display: none">
                        <form id="AddFrm|@value" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="Expedition" asp-action="ConfigExpRegistRange" asp-route-expcompanyjson="@JsonConvert.SerializeObject(Model.Company)">
                            <td style="align-items:center; display:flex">
                            <img onclick="CancelRow('@value')" type="image" class="evol-image" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                            <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image" name="Submit" src="~/images/Ok.png" />
                            </td>
                            <td>@e.CompanyRegistCode
                            <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@Model.Company.ID" />
                            <input style="display: none" id=CompanyRegistCode name=CompanyRegistCode value="@e.CompanyRegistCode" />
                            </td>
                            <td>@e.StartExpeditionID<input id=StartExpeditionID name=StartExpeditionID type="number" min="0" max="2147483647" style="display: none;width: 100%" value="@e.StartExpeditionID" /></td>
                            <td><input id=EndExpeditionID name=EndExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="@e.EndExpeditionID" /></td>
                            <td><input id=RegistCodePrefix name=RegistCodePrefix type="text" maxlength="2" style="width: 100%" value="@e.RegistCodePrefix" /></td>
                            <td><input id=RegistCodeSuffix name=RegistCodeSuffix type="text" maxlength="2" style="width: 100%" value="@e.RegistCodeSuffix" /></td>
                            <td><input id=LastExpeditionID name=LastExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="@e.LastExpeditionID" /></td>
                         </form>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script type="text/javascript">
      function confirmExceptionDelete() {
            if (confirm(deleteMsgException)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Show|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = true;
            return false;
        }
        function EditRow(value) {
            eShide('Show|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }
    </script>
}