@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ExpeditionRegistViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddExpCompany = false;
    bool AddExpeditionContract = false;
    bool DeleteExpeditionContract = false;
    bool ExportExpeditionContract = false;
    bool AddExpeditionType = false;
    bool AddExpRegistRange = false;
    bool ExportExpRegistRange = false;

    if (Model.Permissions.Find(x => x == "AddExpeditionType") != null) { AddExpeditionType = true; }
    if (Model.Permissions.Find(x => x == "AddExpCompany") != null) { AddExpCompany = true; }
    if (Model.Permissions.Find(x => x == "AddExpeditionContract") != null) { AddExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpeditionContract") != null) { DeleteExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "ExportExpeditionContract") != null) { ExportExpeditionContract = true; }
    if (Model.Permissions.Find(x => x == "AddExpRegistRange") != null) { AddExpRegistRange = true; }
    if (Model.Permissions.Find(x => x == "ExportExpRegistRange") != null) { ExportExpRegistRange = true; }
}
@if (Model == null || Model.ExpeditionRegistIDs == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string value = "";
    <div class="popup-container" id="confirmPopupAdd" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="Expedition" asp-action="ConfigExpRegistRange" asp-route-expcompanyjson="@JsonConvert.SerializeObject(Model.Company)">
                    <h1>@localizer["PopupMessageAdd"]</h1>
                    <div class="form-inputs">
                        <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@Model.Company.ID" />
                        <h6>@localizer["CompanyRegistCode"]</h6>
                        @if (Model.ExpeditionRegistIDs.Count() > 0)
                        {
                            <input id=CompanyRegistCode name=CompanyRegistCode type="number" min="0" max="2147483647" value="@Model.ExpeditionRegistIDs.First().CompanyRegistCode.ToString()" readonly />
                        }
                        else
                        {
                            <input id=CompanyRegistCode name=CompanyRegistCode type="number" min="0" max="2147483647" style="width: 100%" value="0" />
                        }
                        <h6>@localizer["StartExpeditionID"]</h6>
                        <input id=StartExpeditionID name=StartExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="0" />
                        <h6>@localizer["EndExpeditionID"]</h6>
                        <input id=EndExpeditionID name=EndExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="0" />
                        <h6>@localizer["RegistCodePrefix"]</h6>
                        <input id=RegistCodePrefix name=RegistCodePrefix type="text" maxlength="2" style="width: 100%" value="RP" />
                        <h6>@localizer["RegistCodeSuffix"]</h6>
                        <input id=RegistCodeSuffix name=RegistCodeSuffix type="text" maxlength="2" style="width: 100%" value="PT" />
                        <h6>@localizer["LastExpeditionID"]</h6>
                        <input id=Regist name=Regist type="text" maxlength="30" style="width: 100%" value="" readonly />
                    </div>
                    <div class="popup-buttons">
                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="TitlePage">
        <h1>@localizer["ExpRegistRange"]</h1>
        <h2>@Model.Company.CompanyName</h2>
        <a class='bx bx-left-arrow grow_01' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="Expedition" asp-action="ExpCompany" asp-route-expcompanyJson="@JsonConvert.SerializeObject(Model.Company)">
        </a>
    </div>
    <table class="table table-sm table-hover table-collapse-seperate table-shadow">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddExpRegistRange)
                {
                    <th class="evol-fitcontent-column borders" style="text-align: center"><img onclick="openPopupAdd()" style="background:none; width:35px;height:35px;"  class="grow" src="~/images/add.png" title="@localizer["ExpRegistRangeAdd"]" /></th>
                }
                <th class="head-l">@localizer["CompanyRegistCode"]</th>
                <th>@localizer["StartExpeditionID"]</th>
                <th>@localizer["EndExpeditionID"]</th>
                <th>@localizer["RegistCodePrefix"]</th>
                <th>@localizer["RegistCodeSuffix"]</th>
                <th class="head-r">@localizer["LastExpeditionID"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach(ExpeditionRegistElement e in Model.ExpeditionRegistIDs)
            {
                value = e.StartExpeditionID.ToString();
                <tr id="Show|@value" ondblclick="openPopupEdit('@value')">
                    @if (AddExpRegistRange)
                    {
                        <td class="evol-fitcontent-column borders" style="text-align: center">
                            <img onclick="openPopupEdit('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ExpRegistRangeChange"]" />
                        </td>
                    }
                    <td class="@(e== Model.ExpeditionRegistIDs.Last() ? "last-row-l" : "")">@e.CompanyRegistCode</td>
                    <td>@e.StartExpeditionID</td>
                    <td>@e.EndExpeditionID</td>
                    <td>@e.RegistCodePrefix</td>
                    <td>@e.RegistCodeSuffix</td>
                    <td class="@(e== Model.ExpeditionRegistIDs.Last() ? "last-row-r" : "")">@e.LastExpeditionID</td>
                </tr>
                @if (AddExpRegistRange)
                {
                    <div class="popup-container confirmPopupEdit FormEdit" id="Edit|@value" style="display: none;">
                        <div class="bgGradient">
                            <div class="popup">
                                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="Expedition" asp-action="ConfigExpRegistRange" asp-route-expcompanyjson="@JsonConvert.SerializeObject(Model.Company)">
                                    <h1>@localizer["PopupMessageEdit"]</h1>
                                    <div class="form-inputs">
                                        <input style="display: none" id=ExpCompanyID name=ExpCompanyID value="@Model.Company.ID" />
                                        <h6>@localizer["CompanyRegistCode"]</h6>
                                        <input id=CompanyRegistCode name=CompanyRegistCode value="@e.CompanyRegistCode" readonly/>
                                        <h6>@localizer["StartExpeditionID"]</h6>
                                        <input id=StartExpeditionID name=StartExpeditionID type="number" min="0" max="2147483647" value="@e.StartExpeditionID" readonly/>
                                        <h6>@localizer["EndExpeditionID"]</h6>
                                        <input id=EndExpeditionID name=EndExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="@e.EndExpeditionID" />
                                        <h6>@localizer["RegistCodePrefix"]</h6>
                                        <input id=RegistCodePrefix name=RegistCodePrefix type="text" maxlength="2" style="width: 100%" value="@e.RegistCodePrefix" />
                                        <h6>@localizer["RegistCodeSuffix"]</h6>
                                        <input id=RegistCodeSuffix name=RegistCodeSuffix type="text" maxlength="2" style="width: 100%" value="@e.RegistCodeSuffix" />
                                        <h6>@localizer["LastExpeditionID"]</h6>
                                        <input id=LastExpeditionID name=LastExpeditionID type="number" min="0" max="2147483647" style="width: 100%" value="@e.LastExpeditionID" />
                                    </div>
                                    <div class="popup-buttons">
                                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script type="text/javascript">
      function confirmExceptionDelete() {
            if (confirm(deleteMsgException)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
        function openPopupEdit(value) {
            document.getElementById("Edit|" + value).style.display = "flex";
        }
        function openPopupAdd() {
            document.getElementById("StartExpeditionID").value = "0";
            document.getElementById("EndExpeditionID").value = "0";
            document.getElementById("RegistCodePrefix").value = "RP";
            document.getElementById("RegistCodeSuffix").value = "PT";
            document.getElementById("confirmPopupAdd").style.display = "flex";
        }
        function confirmBtn() {
            return true;
        }
        function closePopup() {
            document.getElementById("confirmPopupAdd").style.display = "none";
            var elements = document.querySelectorAll(".confirmPopupEdit");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
            return false;
        }
    </script>
}