@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ExpeditionTypeViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddExpeditionType = false;

    if (Model.Permissions.Find(x => x == "AddExpeditionType") != null) { AddExpeditionType = true; }
}
<div id="TitlePage">
    <h1>@localizer["ExpeditionType"]</h1>
</div>

@if (Model == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string value = "";
    string docTypeDesc = "";
    string Level0Name = "level";

    int level = 0;
    string idValue = "arrow" + level.ToString();
    string nameValue = "";
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th class="evol-fitcontent-column borders"></th>
                <th>@localizer["Type"]</th>
                <th>@localizer["Priority"]</th>
                <th>@localizer["Description"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (var t in Model.Types)
            {
                level++;
                nameValue = Level0Name + level.ToString();
                idValue = "arrow" + nameValue;
                value = t.Description;
                <tr>                    
                    @if (t.ExpCompanyTypesList.Count() > 0)
                    {
                        <td style="align-items:center; display:flex" class="borders">
                            <a asp-area="evolDP" asp-controller="Expedition" asp-action="TypeDetail" asp-route-expeditiontypeJson="@JsonConvert.SerializeObject(t)">
                                <img class="evol-image grow" src="~/images/config.png" title="@localizer["List"]: @value" />
                            </a>
                            <a class="evol-arrow bx bxs-chevron-down grow" href="javascript:showDetail('@nameValue')" id="@idValue"></a>
                        </td>
                    }
                    else
                    {
                        <td class="borders"></td>
                    }
                    <td style="text-align: center">@t.ExpeditionType</td>
                    <td style="text-align: center">@t.Priority</td>
                    <td>@t.Description</td>
                </tr>
                @if (t.ExpCompanyTypesList.Count() > 0)
                {
                <tr id="@nameValue" class="borders" style="display: none">
                    <td colspan="4">
                        <table class="table table-sm table-hover table-collapse-seperate">
                            <thead id="bootstrap-overrides" class="table-info sticky-header">
                                <tr>
                                        <th class="evol-fitcontent-column borders"></th>
                                    <th>@localizer["ExpCompany"]</th>
                                    <th title="@localizer["RegistModeTip"]">@localizer["RegistMode"]</th>
                                    <th title="@localizer["SeparationModeTip"]">@localizer["SeparationMode"]</th>
                                    <th title="@localizer["BarcodeRegistModeTip"]">@localizer["BarcodeRegistMode"]</th>
                                </tr>
                            </thead>
                            <tbody id="bootstrap-overrides">
                                    @foreach (ExpCompanyType c in t.ExpCompanyTypesList)
                                    {
                                        ExpeditionTypeElement newExpType = new ExpeditionTypeElement();
                                        newExpType.ExpeditionType = t.ExpeditionType;
                                        newExpType.Priority = t.Priority;
                                        newExpType.Description = t.Description;
                                        List<ExpCompanyType> list = new List<ExpCompanyType>();
                                        list.Add(c);
                                        newExpType.ExpCompanyTypesList = list;
                                        value = t.Description + " / " + @Model.ExpCompanies.Where(x => x.ID == c.ExpCompanyID).First().CompanyName;
                                        <tr>
                                            <td class="borders">
                                                <a asp-area="evolDP" asp-controller="Expedition" asp-action="TypeDetail" asp-route-expeditiontypeJson="@JsonConvert.SerializeObject(newExpType)">
                                                    <img class="evol-image grow" src="~/images/config.png" title="@localizer["List"]: @value" />
                                                </a></td>
                                            <td>@Model.ExpCompanies.Where(x => x.ID == c.ExpCompanyID).First().CompanyName</td>
                                            @{value = c.RegistMode ? "checked": "";}
                                            <td><input type="checkbox" id="RegistMode" @value disabled /></td>
                                            @{value = c.SeparationMode ? "checked": "";}
                                            <td><input type="checkbox" id="SeparationMode" @value disabled /></td>
                                            @{value = c.BarcodeRegistMode != null ? ((bool)c.BarcodeRegistMode ? "1" : "0") : "0";}
                                            <td>@value</td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
}