@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model DocCodeCompatibilityViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
}
@if (Model == null || Model.DocCode == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string checkedStr = "";
    string docTypeDesc = "";
    string eLevel1Desc = "";
    string eLevel2Desc = "";
    string eLevel3Desc = "";

    string ExceptionLevel1IDLabel = TempData["ExceptionLevel1ID"]?.ToString();
    if (string.IsNullOrEmpty(ExceptionLevel1IDLabel))
        ExceptionLevel1IDLabel = localizer["ExceptionLevel1ID"].Value;
    string ExceptionLevel2IDLabel = TempData["ExceptionLevel2ID"]?.ToString();
    if (string.IsNullOrEmpty(ExceptionLevel2IDLabel))
        ExceptionLevel2IDLabel = localizer["ExceptionLevel2ID"].Value;
    string ExceptionLevel3IDLabel = TempData["ExceptionLevel3ID"]?.ToString();
    if (string.IsNullOrEmpty(ExceptionLevel3IDLabel))
        ExceptionLevel3IDLabel = localizer["ExceptionLeve3ID"].Value;

    DocCode docCode = Model.DocCode;
    <div>
        <a class='bx bx-left-arrow' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="DocCode" asp-action="DocCodeConfigList" asp-route-doccodeJson="@JsonConvert.SerializeObject(docCode)">
        </a>
    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th colspan="8">@localizer["DocCodeAggCompatibility"]
                </th>
           </tr>
           <tr>
                <th colspan="2">@localizer["DocCodeID"]</th>
                <th>@localizer["DocLayout"]</th>
                <th>@localizer["DocType"]</th>
                <th>@ExceptionLevel1IDLabel</th>
                <th>@ExceptionLevel2IDLabel</th>
                <th>@ExceptionLevel3IDLabel</th>
                <th>@localizer["DocDescription"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            <tr>
                @if (string.IsNullOrEmpty(docCode.DocType))
                {
                    docTypeDesc = localizer["EmptyField"].Value;
                }
                else
                {
                    docTypeDesc = docCode.DocType;
                }
                @if (docCode.ExceptionLevel1 == null || string.IsNullOrEmpty(docCode.ExceptionLevel1.ExceptionCode))
                {
                    eLevel1Desc = localizer["EmptyField"].Value;
                }
                else
                {
                    eLevel1Desc = docCode.ExceptionLevel1.ExceptionCode;
                }
                @if (docCode.ExceptionLevel2 == null || string.IsNullOrEmpty(docCode.ExceptionLevel2.ExceptionCode))
                {
                    eLevel2Desc = localizer["EmptyField"].Value;
                }
                else
                {
                    eLevel2Desc = docCode.ExceptionLevel2.ExceptionCode;
                }
                @if (docCode.ExceptionLevel3 == null || string.IsNullOrEmpty(docCode.ExceptionLevel3.ExceptionCode))
                {
                    eLevel3Desc = localizer["EmptyField"].Value;
                }
                else
                {
                    eLevel3Desc = docCode.ExceptionLevel3.ExceptionCode;
                }
                <td colspan="2">@docCode.DocCodeID</td>
                <td>@docCode.DocLayout</td>
                <td>@docTypeDesc</td>
                <td>@eLevel1Desc</td>
                <td>@eLevel2Desc</td>
                <td>@eLevel3Desc</td>
                <td>@docCode.DocDescription</td>
            </tr>
            <tr>
                <td colspan="8">
                    <form id="AddAggCompatibilityFrm" asp-area="evolDP" asp-controller="DocCode" asp-action="ChangeCompatibility" asp-route-doccodeJson="@JsonConvert.SerializeObject(docCode)"
                      data-ajax="true"
                      data-ajax-method="POST">
                        <p class="my-3 d-flex justify-content-center">
                            <input value="@localizer["Submit"]" type="submit" name="Submit" class="btn btn-block btn-primary" />
                        </p>
                        <p class="my-3 d-flex justify-content-left" class="btn btn-block btn-primary">
                            <button style="background:none;width:30px;height:30px;padding: 0 0px" type="button" name="cmdselect" alt='@localizer["SelectAll"]' title='@localizer["SelectAll"]' onclick="javascript:checkBoxAll('CheckedDocCodeList', '')">
                                <img style="background:none; width:30px;height:30px;" src="@siteURL/images/select-multiple.png" />
                            </button>
                            <button style="background:none;width:30px;height:30px;padding: 0 0px" type="button" name="cmdunselect" alt="@localizer["UnSelectAll"]" title='@localizer["UnSelectAll"]' onclick="javascript:uncheckBoxAll('CheckedDocCodeList', '')">
                                <img style="background:none; width:30px;height:30px;" src="@siteURL/images/unselect-multiple.png" />
                            </button>
                        </p>                     
                        <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th colspan="2">@localizer["DocCodeID"]</th>
                                <th>@localizer["DocLayout"]</th>
                                <th>@localizer["DocType"]</th>
                                <th>@ExceptionLevel1IDLabel</th>
                                <th>@ExceptionLevel2IDLabel</th>
                                <th>@ExceptionLevel3IDLabel</th>
                                <th>@localizer["DocDescription"]</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (AggregateDocCode agg in Model.AggDocCodeList.OrderByDescending(x => x.Compatible))
                        {
                            <tr>
                                @if (string.IsNullOrEmpty(agg.DocType))
                                {
                                    docTypeDesc = localizer["EmptyField"].Value;
                                }
                                else
                                {
                                    docTypeDesc = agg.DocType;
                                }
                                @if (agg.ExceptionLevel1 == null || string.IsNullOrEmpty(agg.ExceptionLevel1.ExceptionCode))
                                {
                                    eLevel1Desc = localizer["EmptyField"].Value;
                                }
                                else
                                {
                                    eLevel1Desc = agg.ExceptionLevel1.ExceptionCode;
                                }
                                @if (agg.ExceptionLevel2 == null || string.IsNullOrEmpty(agg.ExceptionLevel2.ExceptionCode))
                                {
                                    eLevel2Desc = localizer["EmptyField"].Value;
                                }
                                else
                                {
                                    eLevel2Desc = agg.ExceptionLevel2.ExceptionCode;
                                }
                                @if (agg.ExceptionLevel3 == null || string.IsNullOrEmpty(agg.ExceptionLevel3.ExceptionCode))
                                {
                                    eLevel3Desc = localizer["EmptyField"].Value;
                                }
                                else
                                {
                                    eLevel3Desc = agg.ExceptionLevel3.ExceptionCode;
                                }
                                @if (agg.Compatible)
                                    checkedStr = "checked";
                                else
                                    checkedStr = "";
                                <td align="center">
                                    <input name="CheckedDocCodeList" type="checkbox" value="@agg.DocCodeID" @checkedStr>
                                </td>
                                <td>@agg.DocCodeID</td>                                        
                                <td>@agg.DocLayout</td>
                                <td>@docTypeDesc</td>
                                <td>@eLevel1Desc</td>
                                <td>@eLevel2Desc</td>
                                <td>@eLevel3Desc</td>
                                <td>@agg.DocDescription</td>
                            </tr>
                        }
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="response" class="d-flex justify-content-center m-5"></div>
}
@section Scripts
{
    <script type="text/javascript">
      function confirmDocCodeConfigDelete() {
        if (confirm(deleteMsgDocCodeConfig)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
       function confirmDocCodeDelete() {
        if (confirm(deleteMsgDocCode)) {
          // User clicked "OK", handle the deletion
          return true;
        } else {
          // User clicked "Cancel", do nothing
          return false;
        }
      }
      </script>
}