
@model IEnumerable<dynamic>

<div>
    <a class="btn btn-primary" asp-area="EvolDP" asp-controller="DocCode" asp-action="AddDocCode">Adicionar Tipo de Documento</a>
    <a class="btn btn-primary" asp-area="EvolDP" asp-controller="DocCode" asp-action="ExceptionLevel1">Configurar Companhia</a>
    <a class="btn btn-primary" asp-area="EvolDP" asp-controller="DocCode" asp-action="ExceptionLevel2">Configurar Rede/Canal</a>
    <a class="btn btn-primary" asp-area="EvolDP" asp-controller="DocCode" asp-action="ExceptionLevel3">Configurar Segmento de Cliente</a>
</div>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Layout do Documento</th><th>Subtipo do documento</th><th>Descrição</th></tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.DocLayout</td>
                    <td>@p.DocType</td>
                    <td>@p.Description</td>
                    <td><a asp-area="EvolDP" asp-controller="DocCode" asp-action="DocCodeLevel1" asp-route-doclayout="@p.DocLayout" asp-route-docsubtype="@p.DocType">Mais</a></td>
                </tr>
            }
        }
    </tbody>
</table>