@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model DocCodeViewModel;

<!--<div>
    <a class="btn btn-primary" asp-area="evolDP" asp-controller="DocCode" asp-action="AddDocCode">Adicionar Tipo de Documento</a>
    <a class="btn btn-primary" asp-area="evolDP" asp-controller="DocCode" asp-action="ExceptionLevel1">Configurar Companhia</a>
    <a class="btn btn-primary" asp-area="evolDP" asp-controller="DocCode" asp-action="ExceptionLevel2">Configurar Rede/Canal</a>
    <a class="btn btn-primary" asp-area="evolDP" asp-controller="DocCode" asp-action="ExceptionLevel3">Configurar Segmento de Cliente</a>
</div>-->
@if (Model == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th colspan="3">@localizer["DocCode"]</th>
            </tr>
            <tr>
                <th>@localizer["DocLayout"]</th>
                <th>@localizer["DocType"]</th>
                <th>@localizer["DocDescription"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
                @foreach (var p in Model.DocCodeList)
                {
                    <tr>
                        <td><a asp-area="evolDP" asp-controller="DocCode" asp-action="DocCode" asp-route-doclayout="@p.DocLayout" asp-route-doctype="@p.DocType">@p.DocLayout</a></td>
                        <td>@p.DocType</td>
                        <td>@p.DocDescription</td>
                    </tr>
                }
        </tbody>
    </table>
}