@using Shared.ViewModels.Areas.Finishing
@using Microsoft.AspNetCore.Mvc.Localization
@using Shared.Models.Areas.Finishing
@inject IViewLocalizer localizer
@model ExpeditionFilesViewModel

<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>

@if (Model == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    int lastExpCompanyID = 0;
    int lastContractID = 0;
    int lastBusinessID = 0;
    int lastRunID = 0;
    <div id="TitlePage">
        <h1 class="display-4 text-center">@localizer["ExpeditionReport"] @ViewBag.BusinessDescription</h1>
    </div> 
    @if (Model.ExpeditionFiles.Count() == 0)
    {
         <h4 class="display-4 text-center">@localizer["EmptyResult"]</h4>       
    }
    else
    {
        <form id="ExpeditionFilesFrm" asp-area="Finishing" asp-controller="Expedition" asp-action="RegistExpeditionReport"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-complete="refreshPage"
                data-ajax-loading="myLoader">
                @foreach(ExpeditionFileElement f in Model.ExpeditionFiles)
                {
                    if (lastExpCompanyID != f.ExpCompanyID)
                    {
                        <table class="table table-bordered table-sm table-striped">
                        <thead>
                            <tr><th colspan="6">@f.BusinessDescription [@f.ExpCompanyCode]</th></tr>
                            <tr>
                                <th>@localizer["Business"]</th>
                                <th>@localizer["Run"]</th>
                                <th>@localizer["FileName"]</th>
                                <th>@localizer["ClientName"]</th>
                                <th>@localizer["ContractNr"]</th>
                                <th>@localizer["ClientNr"]</th>
                            </tr>
                        </thead>
                        <tbody>
                     }
                            <tr>
                                <td>@f.BusinessDescription</td>
                                <td>@f.RunDate [@f.RunSequence]</td>
                                <td>@f.FileName</td>
                                <td>@f.ClientName</td>
                                <td>@f.ContractNr</td>
                                <td>@f.ClientNr</td>
                            </tr>
                    if (lastExpCompanyID != f.ExpCompanyID)
                    {
                        </tbody>
                        @if (ViewBag.ExpeditionReportsJobs > 0)
                        {
                            <tfoot>
                                <tr><th colspan="6">@localizer["ExistsExpeditionReportsJobs"]</th></tr>
                            </tfoot>
                        }
                        </table>
                    }
                    lastExpCompanyID = f.ExpCompanyID;
                    lastBusinessID = f.BusinessID;
                    lastContractID = f.ContractID;
                    lastRunID = f.RunID;
               }
            <p class="my-3 d-flex justify-content-center"><input value="@localizer["Submit"]" type="submit" name="Submit" class="btn btn-block btn-primary" /></p>
            <input type="hidden" id="RecoverType" name="RecoverType" value="RECOVER">
        </form>
    }
}
@section Scripts
    {
    <script type="text/javascript">
        function refreshPage() {
            window.location.reload();
        };
    </script>

}

