@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ExpCodeViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    string source = TempData["Source"].ToString();
    bool AddServiceCompany = false;
    bool AddServiceTask = false;
    bool DeleteServiceTask = false;
    bool ExportServiceTask = false;
    bool AddServiceCompanyExpCodes = false;
    bool AddExpCode = false;
    bool DeleteExpCode = false;
    bool ExportExpCode = false;

    if (Model.Permissions.Find(x => x == "AddServiceCompanyExpCodes") != null) { AddServiceCompanyExpCodes = true; }
    if (Model.Permissions.Find(x => x == "AddServiceCompany") != null) { AddServiceCompany = true; }
    if (Model.Permissions.Find(x => x == "AddServiceTask") != null) { AddServiceTask = true; }
    if (Model.Permissions.Find(x => x == "DeleteServiceTask") != null) { DeleteServiceTask = true; }
    if (Model.Permissions.Find(x => x == "ExportServiceTask") != null) { ExportServiceTask = true; }
    if (Model.Permissions.Find(x => x == "AddExpCode") != null) { AddExpCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpCode") != null) { DeleteExpCode = true; }
    if (Model.Permissions.Find(x => x == "ExportExpCode") != null) { ExportExpCode = true; }
}
<div id="TitlePage">
    <h1>@localizer["ExpCode"]</h1>
    <h2>@TempData["ServiceTaskDesc"] / @TempData["ExpCompanyName"]</h2>
    @if (Model != null && Model.ExpCode != null)
    {
        <h2><b>@Model.ExpCode.ExpCode</b></h2>
    }
    <a class='bx bx-left-arrow grow' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceWorkFlowDetail" asp-route-servicetaskID="@Model.ExpCode.ServiceTaskID">
    </a>
</div>
@if (Model == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    ExpCodeElement expCode = Model.ExpCode;
    string localValue;
    string value = "";
    string Level0Name = "level";

    int level = 0;
    string idValue = "arrow" + level.ToString();
    string nameValue = "";
    Company serviceCompany;
    ExpeditionZoneElement expZone;
    <div class="popup-container" id="confirmPopupEdit" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="AddExpCode" asp-route-expcode="@expCode">
                    <h1>@localizer["PopupMessageEdit"]</h1>
                    <div class="form-inputs">
                        <h6>@localizer["ExpCodeDesc"]</h6>
                        <input id=ExpCodeDesc name=ExpCodeDesc type="text" maxlength="256" style="width: 100%" value="@expCode.ExpCodeDesc" />
                        <h6>@localizer["Priority"]</h6>
                        <input id="Priority" name="Priority" type="number" min="0" value="@expCode.Priority" />
                        <h6>@localizer["DefaultExpCenterCode"]</h6>
                        <select id="DefaultExpCenterCode" name="DefaultExpCenterCode">
                            @foreach (string expCenterCode in Model.ExpCenters.Select(x => x.ExpCenterCode).Distinct())
                            {
                                <option value="@expCenterCode">@expCenterCode</option>
                            }
                        </select>
                        <h6>@localizer["DefaultExpCompanyZone"]</h6>
                        <select id="DefaultExpCompanyZone" name="DefaultExpCompanyZone">
                            @foreach (ExpeditionZoneElement z in Model.Zones)
                            {
                                <option value="@z.ExpeditionZone">@z.ExpeditionZoneDesc</option>
                            }
                        </select>
                        @if (expCode.CheckExpCompanySepCodes)
                        {
                            value = "checked";
                        }
                        <h6>@localizer["CheckExpCompanySepCodes"]</h6>
                        <input type="checkbox" id="CheckExpCompanySepCodes" name="CheckExpCompanySepCodes" style="margin-bottom: 10px; width: 20px" @value />
                        <h6>@localizer["PostalCodeStart"]</h6>
                        <input type="number" min="0" max="10" id="PostalCodeStart" name="PostalCodeStart" value="@expCode.PostalCodeStart" />
                    </div>
                    <div class="popup-buttons">
                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="margin-bottom: 40px;">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th class="evol-fitcontent-column-one" style="border:none;background-color:transparent">
                </th>
                <th style="width:40%; border-top-left-radius: 20px;">@localizer["ExpCodeDesc"]</th>
                <th>@localizer["Priority"]</th>
                <th title="@localizer["DefaultExpCenterCodeTip"]">@localizer["DefaultExpCenterCode"]</th>
                <th title="@localizer["DefaultExpCompanyZoneTip"]">@localizer["DefaultExpCompanyZone"]</th>
                <th title="@localizer["CheckExpCompanySepCodesTip"]">@localizer["CheckExpCompanySepCodes"]</th>
                <th title="@localizer["PostalCodeStartTip"]" style="border-top-right-radius: 20px;">@localizer["PostalCodeStart"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            <tr id="Show|" ondblclick="openPopupEdit()">
                <td class="evol-fitcontent-column-one borders" style="box-shadow: 10px 10px 10px #FFFFFF; background-color: #FFFFFF">
                    @if (AddExpCode)
                    {
                        <img onclick="openPopupEdit()" style="width:30px;height:30px" class="evol-image grow" src="~/images/edit.png" title="@localizer["ChangeExpCode"]" />
                    }
                </td>
                <td style="width:40%; border-bottom-left-radius: 20px;">@expCode.ExpCodeDesc</td>
                <td>@expCode.Priority</td>
                <td>@expCode.DefaultExpCenterCode</td>
                <td>@expCode.DefaultExpCompanyZone</td>
                @{
                    value = expCode.CheckExpCompanySepCodes ? "checked" : "";
                }
                <td><input type="checkbox" id="CheckExpCompanySepCodes" disabled @value /></td>
                <td style="border-bottom-right-radius: 20px;">@expCode.PostalCodeStart</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-sm table-hover table-collapse-seperate table-shadow">
        <thead id="bootstrap-overrides" class="table-info">
            <tr>
                @if (AddExpCode)
                {
                    <th rowspan="2" class="evol-fitcontent-column" style="border:none;background-color:transparent"></th>
                }
                <th colspan="4" style="border-top-left-radius: 20px;">@localizer["ExpCenter"]</th>
                <th rowspan="2">@localizer["ServiceCompany"]</th>
                <th rowspan="2" style="border-top-right-radius: 20px;">@localizer["ExpeditionZone"]</th>
            </tr>
            <tr>
                <th>@localizer["ExpCenterCode"]</th>
                <th>@localizer["Description1"]</th>
                <th>@localizer["Description2"]</th>
                <th>@localizer["Description3"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (ExpCenterElement c in Model.ExpCenters)
            {
                serviceCompany = Model.ServiceCompanies.FirstOrDefault(x => x.ID == c.ServiceCompanyID);
                expZone = Model.Zones.FirstOrDefault(x => x.ExpeditionZone == c.ExpeditionZone);
                value = c.ExpCenterCode.ToString();
                if(c == Model.ExpCenters.Last())
                {
                    <tr id="Show|@value" ondblclick="openPopupEditExpedition('@value')">
                        @if (AddExpCode)
                        {
                            <td class="evol-fitcontent-column borders" style="align-items:center; display:flex; box-shadow: 20px 20px 10px #FFFFFF; background-color: #FFFFFF">
                                <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ExpCodeConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(serviceCompany)"
                                   asp-route-expcodejson="@JsonConvert.SerializeObject(expCode)" asp-route-expcentercode="@c.ExpCenterCode"
                                   asp-route-source="@source" asp-route-servicetaskdesc="@TempData["ServiceTaskDesc"]" asp-route-expcompanyname="@TempData["ExpCompanyName"]">
                                   <img style="margin-bottom:1px" class="evol-image grow" src="~/images/config.png" title="@localizer["ConfigServiceCompanyExpCode"]" />
                                </a>
                                <img onclick="openPopupEditExpedition('@value')" class="evol-image grow" src="~/images/edit.png" title="@localizer["ChangeExpCenter"]" />
                            </td>
                        }
                        <td style="border-bottom-left-radius: 20px;">@c.ExpCenterCode</td>
                        @if (string.IsNullOrEmpty(c.Description1))
                        {
                            localValue = localizer["EmptyField"].Value;
                        }
                        else
                        {
                            localValue = c.Description1;
                        }
                        <td>@localValue</td>
                        @if (string.IsNullOrEmpty(c.Description2))
                        {
                            localValue = localizer["EmptyField"].Value;
                        }
                        else
                        {
                            localValue = c.Description2;
                        }
                        <td>@localValue</td>
                        @if (string.IsNullOrEmpty(c.Description3))
                        {
                            localValue = localizer["EmptyField"].Value;
                        }
                        else
                        {
                            localValue = c.Description3;
                        }
                        <td>@localValue</td>
                        <td>@serviceCompany.CompanyName</td>
                        <td style="border-bottom-right-radius: 20px;">@c.ExpeditionZoneDesc</td>
                    </tr>
                }
                else
                {
                    <tr id="Show|@value" ondblclick="openPopupEditExpedition('@value')">
                        @if (AddExpCode)
                        {
                            <td class="evol-fitcontent-column borders" style="align-items:center; display:flex">
                                <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ExpCodeConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(serviceCompany)"
                                asp-route-expcodejson="@JsonConvert.SerializeObject(expCode)" asp-route-expcentercode="@c.ExpCenterCode"
                                asp-route-source="@source" asp-route-servicetaskdesc="@TempData["ServiceTaskDesc"]" asp-route-expcompanyname="@TempData["ExpCompanyName"]">
                                    <img style="margin-bottom:1px" class="evol-image grow" src="~/images/config.png" title="@localizer["ConfigServiceCompanyExpCode"]" />
                                </a>
                                <img onclick="openPopupEditExpedition('@value')" class="evol-image grow" src="~/images/edit.png" title="@localizer["ChangeExpCenter"]" />
                            </td>
                        }
                        <td>@c.ExpCenterCode</td>
                        @if (string.IsNullOrEmpty(c.Description1))
                        {
                            localValue = localizer["EmptyField"].Value;
                        }
                        else
                        {
                            localValue = c.Description1;
                        }
                        <td>@localValue</td>
                        @if (string.IsNullOrEmpty(c.Description2))
                        {
                            localValue = localizer["EmptyField"].Value;
                        }
                        else
                        {
                            localValue = c.Description2;
                        }
                        <td>@localValue</td>
                        @if (string.IsNullOrEmpty(c.Description3))
                        {
                            localValue = localizer["EmptyField"].Value;
                        }
                        else
                        {
                            localValue = c.Description3;
                        }
                        <td>@localValue</td>
                        <td>@serviceCompany.CompanyName</td>
                        <td>@c.ExpeditionZoneDesc</td>
                    </tr>
                }
                @if (AddExpCode)
                {
                    <div class="popup-container confirmPopupEditExpedition FormEdit" id="Edit|@value" style="display: none;">
                        <div class="bgGradient">
                            <div class="popup">
                                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ChangeExpCenter"
                          asp-route-expcodejson="@JsonConvert.SerializeObject(expCode)" asp-route-expcentercode="@c.ExpCenterCode"
                          asp-route-source="@source" asp-route-servicetaskdesc="@TempData["ServiceTaskDesc"]" asp-route-expcompanyname="@TempData["ExpCompanyName"]">
                                    <h1>@localizer["PopupMessageEdit"]</h1>
                                    <div class="form-inputs">
                                        <h6>@localizer["ExpCenterCode"]</h6>
                                        <input type="text" id="ExpCenterCode" name="ExpCenterCode" maxlength="256" value="@c.ExpCenterCode" />
                                        <h6>@localizer["Description1"]</h6>
                                        <input type="text" id="Description1" name="Description1" maxlength="256" value="@c.Description1" />
                                        <h6>@localizer["Description2"]</h6>
                                        <input type="text" id="Description2" name="Description2" maxlength="256" value="@c.Description2" />
                                        <h6>@localizer["Description3"]</h6>
                                        <input type="text" id="Description3" name="Description3" maxlength="256" value="@c.Description3" />
                                        <h6>@localizer["ServiceCompany"]</h6>
                                        <select id="ServiceCompanyID" name="ServiceCompanyID">
                                            <option value="@serviceCompany.ID">@serviceCompany.CompanyName</option>
                                            @foreach (Company comp in Model.ServiceCompanies.Where(x => x.ID != c.ServiceCompanyID))
                                            {
                                                <option value="@comp.ID">@comp.CompanyName</option>
                                            }
                                        </select>
                                        <h6>@localizer["ExpeditionZone"]</h6>
                                        <select id="ExpeditionZone" name="ExpeditionZone">
                                            <option value="@expZone.ExpeditionZone">@expZone.ExpeditionZoneDesc</option>
                                            @foreach (ExpeditionZoneElement z in Model.Zones.Where(x => x.ExpeditionZone != c.ExpeditionZone))
                                            {
                                                <option value="@z.ExpeditionZone">@z.ExpeditionZoneDesc</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="popup-buttons">
                                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>

}
@section Scripts
    {
    <script type="text/javascript">
        function openPopupEdit() {
            document.getElementById("confirmPopupEdit").style.display = "flex";
        }
        function openPopupEditExpedition(value) {
            document.getElementById("Edit|" + value).style.display = "flex";
        }
        function confirmBtn() {
            return true;
        }
        function closePopup() {
            document.getElementById("confirmPopupEdit").style.display = "none";
            var elements = document.querySelectorAll(".confirmPopupEditExpedition");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
            return false;
        }
    </script>
}