@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ServiceTypeViewModel;
@{
    int colWidth;
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddServiceCompany = false;
    bool AddServiceTask = false;
    bool DeleteServiceTask = false;
    bool ExportServiceTask = false;
    bool AddServiceCompanyExpCodes = false;
    bool AddExpCode = false;
    bool DeleteExpCode = false;
    bool ExportExpCode = false;

    if (Model.Permissions.Find(x => x == "AddServiceCompanyExpCodes") != null) { AddServiceCompanyExpCodes = true; }
    if (Model.Permissions.Find(x => x == "AddServiceCompany") != null) { AddServiceCompany = true; }
    if (Model.Permissions.Find(x => x == "AddServiceTask") != null) { AddServiceTask = true; }
    if (Model.Permissions.Find(x => x == "DeleteServiceTask") != null) { DeleteServiceTask = true; }
    if (Model.Permissions.Find(x => x == "ExportServiceTask") != null) { ExportServiceTask = true; }
    if (Model.Permissions.Find(x => x == "AddExpCode") != null) { AddExpCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpCode") != null) { DeleteExpCode = true; }
    if (Model.Permissions.Find(x => x == "ExportExpCode") != null) { ExportExpCode = true; }
}
<div id="TitlePage">
    <h1>@localizer["ServiceType"]</h1>
</div>

@if (AddServiceTask && Model != null && Model.Types != null && Model.Types.Count() == 0)
{
    <div>
        <th width="120px" style="text-align: center"><img onclick="EditRow('')" style="background:none; width:30px;height:30px;" src="~/images/add.png" title="@localizer["AddServiceType"]" /></th>
    </div>
}


@if (Model == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string value = "";
    string Level0Name = "level";

    int level = 0;
    string idValue = "arrow" + level.ToString();
    string nameValue = "";
    colWidth = 1;
    if (AddServiceTask)
        colWidth++;
    if (Model.Types.Where(x => x.ServicesList.Count() > 0).ToList().Count() > 0)
        colWidth++;
    colWidth = 30 * colWidth;
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                @if (AddServiceTask && Model.Types.Count() > 0)
                {
                    <th width="@colWidth px" style="text-align: center" class="borders evol-image"><img onclick="EditRow('')" class="grow" style="background:none; width:35px;height:35px;" src="~/images/add.png" title="@localizer["AddServiceType"]" /></th>
                }
                <th>@localizer["ServiceTypeDesc"]</th>
                <th>@localizer["ServiceTypeCode"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @if (AddServiceTask)
            {
                <tr id="Hide|" style="display: none">
                    <form id="AddFrm|" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="SetServiceType">
                    <td style="align-items:center; display:flex; justify-content:center; margin-top: 3px" class="borders">
                           <img onclick="CancelRow('')" type="image" class="evol-image grow" src="~/images/cancel.png" title="@localizer["Cancel"]"/>
                           <input onclick="return true" type="image" value="@localizer["SubmitAdd"]" class="evol-image float" name="Submit" src="~/images/Ok.png"/>
                           <input style="display: none" id=ServiceTypeID name=ServiceTypeID type="number" value="0" />
                        </td>
                        <td><input id=ServiceTypeDesc name=ServiceTypeDesc type="text" maxlength="256" style="width: 100%" /></td>
                    <td><input id=ServiceTypeCode name=ServiceTypeCode type="text" maxlength="15" style="width: 100%" /></td>
                    </form>
                </tr>
            }
            @foreach (var t in Model.Types)
            {
                level++;
                nameValue = Level0Name + level.ToString();
                idValue = "arrow" + nameValue;
                value = t.ServiceTypeID.ToString();
                <tr id="Show|@value" ondblclick="EditRow('@value')">
                    <td style="align-items:center; display:flex; justify-content:center" class="borders">
                        <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceTypeDetail" asp-route-servicetypeJson="@JsonConvert.SerializeObject(t)">
                            <img class="evol-image rotate_01" src="~/images/config.png" title="@localizer["List"]: @t.ServiceTypeDesc" />
                        </a>
                        @if (AddServiceTask)
                        {
                            <img onclick="EditRow('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeServiceType"]" />
                        }
                        @if (t.ServicesList.Count() > 0)
                        {
                            <a class="evol-arrow bx bxs-chevron-down grow" href="javascript:showDetail('@nameValue')" id="@idValue"></a>
                        }
                    </td>
                    <td>@t.ServiceTypeDesc</td>
                    <td>@t.ServiceTypeCode</td>
                </tr>
                @if (AddServiceTask)
                {
                    <tr id="Hide|@value" style="display: none" class="borders">
                        <form id="AddFrm|@value" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="SetServiceType">
                        <td style="align-items:center; display:flex; justify-content:center; margin-top: 3px" class="borders">
                            <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image float" name="Submit" src="~/images/Ok.png" />
                            <input style="display: none" id=ServiceTypeID name=ServiceTypeID type="number" value="@t.ServiceTypeID" />
                            </td>
                            <td><input id=ServiceTypeDesc name=ServiceTypeDesc type="text" maxlength="256" style="width: 100%" value="@t.ServiceTypeDesc" /></td>
                            <td><input id=ServiceTypeCode name=ServiceTypeCode type="text" maxlength="15" style="width: 100%" value="@t.ServiceTypeCode" /></td>
                        </form>
                    </tr>
                }
                @if (t.ServicesList.Count() > 0)
                {
                <tr id="@nameValue" class="borders" style="display: none">
                    <td colspan="4">
                        <table class="table table-sm table-hover table-collapse-seperate">
                            <thead id="bootstrap-overrides" class="table-info">
                                <tr>
                                    <th>@localizer["ServiceDesc"]</th>
                                    <th>@localizer["ServiceCode"]</th>
                                    <th title="@localizer["MatchCodeTip"]">@localizer["MatchCode"]</th>
                                </tr>
                            </thead>
                            <tbody id="bootstrap-overrides">
                                    @foreach (ServiceElement s in t.ServicesList)
                                    {
                                        <tr>
                                            <td>@s.ServiceDesc</td>
                                            <td>@s.ServiceCode</td>
                                            <td>@s.MatchCode</td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
}
@section Scripts
    {
    <script type="text/javascript">
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Show|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = true;
            return false;
        }

        function EditRow(value) {
            eShide('Show|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }

        function isClickInsideTr(element) {
            while (element) {
                if (element.id.includes('Hide|') || element.classList.contains('evol-image')) {
                    return true;
                }
                element = element.parentElement;
            }
            return false;
        }

        document.addEventListener('click', function (event) {
            if (!isClickInsideTr(event.target)) {
                trElements = document.querySelectorAll('tr[id^="Hide|"]');
                trElements.forEach(tElement => {
                    if (/^Hide\|\d+/.test(tElement.id)) {
                        let val = tElement.id.substring(5);
                        CancelRow(val);
                    }
                });
            }
        });
    </script>
}