@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ServiceCompanyViewModel;
@{
    int colWidth;
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddServiceCompany = false;
    bool AddServiceTask = false;
    bool DeleteServiceTask = false;
    bool ExportServiceTask = false;
    bool AddServiceCompanyExpCodes = false;
    bool AddExpCode = false;
    bool DeleteExpCode = false;
    bool ExportExpCode = false;

    if (Model.Permissions.Find(x => x == "AddServiceCompanyExpCodes") != null) { AddServiceCompanyExpCodes = true; }
    if (Model.Permissions.Find(x => x == "AddServiceCompany") != null) { AddServiceCompany = true; }
    if (Model.Permissions.Find(x => x == "AddServiceTask") != null) { AddServiceTask = true; }
    if (Model.Permissions.Find(x => x == "DeleteServiceTask") != null) { DeleteServiceTask = true; }
    if (Model.Permissions.Find(x => x == "ExportServiceTask") != null) { ExportServiceTask = true; }
    if (Model.Permissions.Find(x => x == "AddExpCode") != null) { AddExpCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpCode") != null) { DeleteExpCode = true; }
    if (Model.Permissions.Find(x => x == "ExportExpCode") != null) { ExportExpCode = true; }
}
@if (Model == null || Model.ServiceCompany == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    Company serviceCompany = Model.ServiceCompany;
    List<ServiceCompanyRestriction> serviceCompanyRestrictions = new List<ServiceCompanyRestriction>();
    if (Model.Restrictions != null)
        serviceCompanyRestrictions = Model.Restrictions.ToList();

    string value;
    int level0 = 0, level1 = 0;
    string id0Value = "arrow" + level0.ToString();
    string name0Value = "level0|" + level0.ToString();
    string arrowid0 = "arrow0|";
    string id1Value = "arrow" + level1.ToString();
    string name1Value = "level1|" + level1.ToString();
    string arrowid1 = "arrow1|";
    string costDateDesc;
    List<ServiceCompanyServiceResume> serviceTypeConfigs;
    <div id="TitlePage">
        <h1>@localizer["ServiceCompany"]</h1>
    </div>
    <div class="popup-container" id="confirmPopupEdit" style="display: none;">
        <div class="bgGradient">
            <div class="popup">
                <form class="align-content-center FormEdit" asp-controller="ServiceProvision" asp-action="ChangeServiceCompany" asp-route-servicecompanyviewJson="@JsonConvert.SerializeObject(Model)">
                    <h1>@localizer["PopupMessageEdit"]</h1>
                    <div class="form-inputs">
                        <input style="display: none" id=ServiceCompanyID name=ServiceCompanyID value="@serviceCompany.ID" />
                        <h6>@localizer["CompanyCode"]</h6>
                        <input id=CompanyCode name=CompanyCode type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyCode" />
                        <h6>@localizer["CompanyName"]</h6>
                        <input id=CompanyName name=CompanyName type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyName" />
                        <h6>@localizer["CompanyAddress"]</h6>
                        <input id=CompanyAddress name=CompanyAddress type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyAddress" />
                        <h6>@localizer["CompanyPostalCode"]</h6>
                        <input id=CompanyPostalCode name=CompanyPostalCode type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyPostalCode" />
                        <h6>@localizer["CompanyPostalCodeDescription"]</h6>
                        <input id=CompanyPostalCodeDescription name=CompanyPostalCodeDescription type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyPostalCodeDescription" />
                        <h6>@localizer["CompanyCountry"]</h6>
                        <input id=CompanyCountry name=CompanyCountry type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyCountry" />
                    </div>
                    <div class="popup-buttons">
                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a class='bx bx-left-arrow grow_01' style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="Companies">
        </a>
        <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyExpCodes" asp-route-servicecompanyJson="@JsonConvert.SerializeObject(serviceCompany)">
            <img style="background:none; width:50px;height:50px;" class="grow" src="~/images/envelopes2.png" title="@localizer["ServiceCompanyExpCodes"]" />
        </a>

    </div>
    <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="margin-bottom: 30px;">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
           <tr>
                @if(AddServiceCompany)
                {
                    <th class="evol-fitcontent-column borders"></th>
                }
                <th style="border-top-left-radius: 20px;">@localizer["CompanyCode"]</th>
                <th>@localizer["CompanyName"]</th>
                <th>@localizer["CompanyAddress"]</th>
                <th>@localizer["CompanyPostalCode"]</th>
                <th>@localizer["CompanyPostalCodeDescription"]</th>
                <th style="border-top-right-radius: 20px;">@localizer["CompanyCountry"]</th>
           </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            <tr id="Show|ServiceCompany" ondblclick="openPopupEdit()">
                @if(AddServiceCompany)
                {
                    <td class="borders" style="text-align: center;box-shadow: 10px 10px 10px #FFFFFF; background-color: #FFFFFF">
                        <img onclick="openPopupEdit()" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeCompany"]" />
                </td>
                }
                <td style="border-bottom-left-radius: 20px;">@serviceCompany.CompanyCode</td>
                <td>@serviceCompany.CompanyName</td>
                <td>@serviceCompany.CompanyAddress</td>
                <td>@serviceCompany.CompanyPostalCode</td>
                <td>@serviceCompany.CompanyPostalCodeDescription</td>
                <td style="border-bottom-right-radius: 20px;">@serviceCompany.CompanyCountry</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="margin-bottom: 30px;">
        <thead id="bootstrap-overrides" class="table-info">
            <tr>
                @if (AddServiceCompany)
                {
                <th class ="evol-fitcontent-column"></th>
                }
                <th style="border-top-left-radius: 20px;">@localizer["MaterialType"]</th>
                <th title="@localizer["MaterialPositionTip"]">@localizer["MaterialPosition"]</th>
                <th title="@localizer["FileSheetsCutoffLevelTip"]">@localizer["FileSheetsCutoffLevel"]</th>
                <th title="@localizer["RestrictionModeTip"]" style="border-top-right-radius: 20px;">@localizer["RestrictionMode"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (ServiceCompanyRestriction r in serviceCompanyRestrictions)
            {
                value = r.MaterialTypeID.ToString();

                if(r == serviceCompanyRestrictions.Last())
                {
                    <tr id="Show|@value" ondblclick="openPopupEditEquipement('@value')">
                        @if (AddServiceCompany)
                        {
                            <td class="borders" style="box-shadow: 10px 10px 10px #FFFFFF; background-color: #FFFFFF">
                                <img onclick="openPopupEditEquipement('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeServiceCompanyRestriction"]" />
                            </td>
                        }
                        @{
                            value = @localizer[r.MaterialTypeCode].Value;
                            if (value == r.MaterialTypeCode)
                                value = r.MaterialTypeDesc;
                        }
                        <td style="border-bottom-left-radius: 20px;">@value</td>
                        <td>
                            @r.MaterialPosition @localizer["MaterialPositionType" + r.MaterialTypeCode]
                        </td>
                        @if (r.MaterialTypeCode.ToUpper() == "STATION")
                        {
                            <td></td>
                            <td style="border-bottom-right-radius: 20px;">
                                @localizer["RestrictionMode" + (r.RestrictionMode ? "1" : "0")]
                            </td>
                        }
                        else
                        {
                            <td style="border-bottom-right-radius: 20px;">@r.FileSheetsCutoffLevel</td>
                            <td></td>
                        }
                    </tr>
                }
                else
                {
                    <tr id="Show|@value" ondblclick="openPopupEditEquipement('@value')">
                        @if (AddServiceCompany)
                        {
                            <td class="borders">
                                <img onclick="openPopupEditEquipement('@value')" class="evol-image wobble" src="~/images/edit.png" title="@localizer["ChangeServiceCompanyRestriction"]" />
                            </td>
                        }
                        @{
                            value = @localizer[r.MaterialTypeCode].Value;
                            if (value == r.MaterialTypeCode)
                                value = r.MaterialTypeDesc;
                        }
                        <td>@value</td>
                        <td>
                            @r.MaterialPosition @localizer["MaterialPositionType" + r.MaterialTypeCode]
                        </td>
                        @if (r.MaterialTypeCode.ToUpper() == "STATION")
                        {
                            <td></td>
                            <td>
                                @localizer["RestrictionMode" + (r.RestrictionMode ? "1" : "0")]
                            </td>
                        }
                        else
                        {
                            <td>@r.FileSheetsCutoffLevel</td>
                            <td></td>
                        }
                    </tr>
                }
                @if (AddServiceCompany)
                {
                    value = r.MaterialTypeID.ToString();
                    <div class="popup-container confirmPopupEditEquipement FormEdit" id="Edit|@value" style="display: none;">
                        <div class="bgGradient">
                            <div class="popup">
                                <form class="align-content-center FormEdit" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ChangeServiceCompanyRestriction"
                          asp-route-serviceCompanyJson="@serviceCompany" asp-route-materialtypeid="@r.MaterialTypeID">
                                    <h1>@localizer["PopupMessageEdit"]</h1>
                                    <div class="form-inputs">
                                        @{
                                            value = @localizer[r.MaterialTypeCode].Value;
                                            if (value == r.MaterialTypeCode)
                                                value = r.MaterialTypeDesc;
                                        }
                                        <h6>@localizer["MaterialType"]</h6>
                                        <input type="text" id="MaterialTypeID" name="MaterialTypeID" value="@value" />
                                        <h6>@localizer["MaterialEdit"] @localizer["MaterialPositionType" + r.MaterialTypeCode]</h6>
                                        <input type="number" id="MaterialPosition" name="MaterialPosition" value="@r.MaterialPosition" />
                                        @if (r.MaterialTypeCode.ToUpper() == "STATION")
                                        {
                                            <input style="display: none" type="number" id="FileSheetsCutoffLevel" name="FileSheetsCutoffLevel" value="0" />
                                            value = r.RestrictionMode ? "checked" : "";
                                            <h6>@localizer["RestrictionMode"]</h6>
                                            <select id="RestrictionMode" name="RestrictionMode">
                                                <option value="@(r.RestrictionMode ? "1" : "0")"> @localizer["RestrictionMode" + (r.RestrictionMode ? "1" : "0")]</option>
                                                <option value="@(r.RestrictionMode ? "0" : "1")"> @localizer["RestrictionMode" + (r.RestrictionMode ? "0" : "1")]</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <h6>@localizer["FileSheetsCutoffLevel"]</h6>
                                            <input type="number" id="FileSheetsCutoffLevel" name="FileSheetsCutoffLevel" value="@r.FileSheetsCutoffLevel" />
                                            <input style="display: none" type="checkbox" id="RestrictionMode" />
                                        }
                                    </div>
                                    <div class="popup-buttons">
                                        <button class="popup-button" id="confirmEdit" name="Submit" onclick="return confirmBtn()" value="@localizer["SubmitChange"]">Confirmar</button>
                                        <button class="popup-button" onclick="return closePopup()">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>
    if (Model.Configs.Count() > 0)
    {
        <div id="TitlePage">
            <h3>@localizer["ServiceCompanyConfig"]</h3>
        </div>
        <table class="table table-sm table-hover table-collapse-seperate table-shadow">
        <thead id="bootstrap-overrides" class="table-info">
            <tr>
                <th class ="evol-fitcontent-column" style="text-align: center"></th>
                    <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["ServiceType"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (var sType in Model.Configs.Select(x => x.ServiceTypeID).Distinct().ToList())
            {
                level0++;
                name0Value = "level" + level0.ToString();
                arrowid0 = "arrow0|" + level0.ToString();
                id0Value = "arrow" + name0Value;
                serviceTypeConfigs = Model.Configs.Where(x => x.ServiceTypeID == sType).ToList();

                if(sType == Model.Configs.Select(x => x.ServiceTypeID).Distinct().ToList().Last())
                {
                    <tr>
                            <td style="align-items:center; display:flex; box-shadow: 10px 10px 10px #FFFFFF; background-color: #FFFFFF" class="borders collapsible" id="@id0Value" onclick="javascript:showDetail('@name0Value','@arrowid0')">
                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                asp-route-serviceCompanyConfigsJson="@JsonConvert.SerializeObject(serviceTypeConfigs)" asp-route-servicetypeid="@sType">
                                <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                            </a>
                            <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid0">
                        </td>
                            <td colspan="2" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@serviceTypeConfigs.First().ServiceTypeDesc</td>
                    </tr>
                        <tr id="@name0Value" style="display: none" class="borders">
                        <td colspan="2" class="table-collapse">
                            <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="padding-top: 10px; margin-bottom: 15px;">
                                <thead id="bootstrap-overrides" class="table-info">
                                    <th class="evol-fitcontent-column"></th>
                                    <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["Service"]</th>
                                </thead>
                                <tbody>
                                    @foreach (var s in serviceTypeConfigs.Select(x => x.ServiceID).Distinct().ToList())
                                    {
                                        List<ServiceCompanyServiceResume> sList = serviceTypeConfigs.Where(x => x.ServiceID == s).ToList();
                                        level1++;
                                        name1Value = "detail" + level1.ToString();
                                        arrowid1 = "arrow1|" + level1.ToString();
                                        id1Value = "arrow" + name1Value;

                                        if(s == serviceTypeConfigs.Select(x => x.ServiceID).Distinct().ToList().Last())
                                        {
                                            <tr>
                                                <td style="align-items:center; display:flex;margin-left: 30px; box-shadow: 7px 15px 10px #FFFFFF; background-color: #FFFFFF" class="borders collapsible" id="@id1Value" onclick="javascript:showDetail('@name1Value','@arrowid1')">
                                                    <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                        asp-route-servicetypeid="@sType" asp-route-serviceid="@s">
                                                        <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                    </a>
                                                    <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid1">
                                                </td>
                                                    <td style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@sList.First().ServiceDesc</td>
                                            </tr>
                                            <tr id="@name1Value" class="borders" style="display: none">
                                                <td colspan="2" class="table-collapse">
                                                    <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="padding-top: 10px">
                                                        <thead id="bootstrap-overrides" class="table-info">
                                                            <tr>
                                                                <th class ="evol-fitcontent-column">
                                                                <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["CostDate"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="bootstrap-overrides">
                                                            @foreach (var cDate in serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList())
                                                            {
                                                                DateTime costDateDT;
                                                                costDateDesc = cDate.ToString();
                                                                if (DateTime.TryParseExact(cDate.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out costDateDT))
                                                                    costDateDesc = costDateDT.ToShortDateString();
                                                                if(cDate == serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList().Last())
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td style = "border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td>@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                            <td style="align-items:center; display:flex;margin-left: 30px" class="borders collapsible" id="@id1Value" onclick="javascript:showDetail('@name1Value','@arrowid1')">
                                                <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                    asp-route-servicetypeid="@sType" asp-route-serviceid="@s">
                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                </a>
                                                <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid1">
                                            </td>
                                            <td>@sList.First().ServiceDesc</td>
                                            </tr>
                                            <tr id="@name1Value" class="borders" style="display: none">
                                                <td colspan="2" class="table-collapse">
                                                    <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="padding-top: 10px">
                                                        <thead id="bootstrap-overrides" class="table-info">
                                                            <tr>
                                                                <th class ="evol-fitcontent-column">
                                                                <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["CostDate"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="bootstrap-overrides">
                                                            @foreach (var cDate in serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList())
                                                            {
                                                                DateTime costDateDT;
                                                                costDateDesc = cDate.ToString();
                                                                if (DateTime.TryParseExact(cDate.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out costDateDT))
                                                                    costDateDesc = costDateDT.ToShortDateString();
                                                                if(cDate == serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList().Last())
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td style = "border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td>@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    }
                                 </tbody>
                            </table>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                            <td style="align-items:center; display:flex;" class="borders collapsible" id="@id0Value" onclick="javascript:showDetail('@name0Value','@arrowid0')">
                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                asp-route-serviceCompanyConfigsJson="@JsonConvert.SerializeObject(serviceTypeConfigs)" asp-route-servicetypeid="@sType">
                                <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                            </a>
                            <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid0">
                        </td>
                            <td colspan="2">@serviceTypeConfigs.First().ServiceTypeDesc</td>
                    </tr>
                        <tr id="@name0Value" style="display: none" class="borders">
                        <td colspan="2" class="table-collapse">
                            <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="padding-top: 10px; margin-bottom: 15px;">
                                <thead id="bootstrap-overrides" class="table-info">
                                    <th class="evol-fitcontent-column"></th>
                                    <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["Service"]</th>
                                </thead>
                                <tbody>
                                    @foreach (var s in serviceTypeConfigs.Select(x => x.ServiceID).Distinct().ToList())
                                    {
                                        List<ServiceCompanyServiceResume> sList = serviceTypeConfigs.Where(x => x.ServiceID == s).ToList();
                                        level1++;
                                        name1Value = "detail" + level1.ToString();
                                        arrowid1 = "arrow1|" + level1.ToString();
                                        id1Value = "arrow" + name1Value;

                                        if(s == serviceTypeConfigs.Select(x => x.ServiceID).Distinct().ToList().Last())
                                        {
                                            <tr>
                                                <td style="align-items:center; display:flex;margin-left: 30px; box-shadow: 7px 15px 10px #FFFFFF; background-color: #FFFFFF" class="borders collapsible" id="@id1Value" onclick="javascript:showDetail('@name1Value','@arrowid1')">
                                                    <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                        asp-route-servicetypeid="@sType" asp-route-serviceid="@s">
                                                        <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                    </a>
                                                    <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid1">
                                                </td>
                                                    <td style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@sList.First().ServiceDesc</td>
                                            </tr>
                                            <tr id="@name1Value" class="borders" style="display: none">
                                                <td colspan="2" class="table-collapse">
                                                    <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="padding-top: 10px">
                                                        <thead id="bootstrap-overrides" class="table-info">
                                                            <tr>
                                                                <th class ="evol-fitcontent-column">
                                                                <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["CostDate"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="bootstrap-overrides">
                                                            @foreach (var cDate in serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList())
                                                            {
                                                                DateTime costDateDT;
                                                                costDateDesc = cDate.ToString();
                                                                if (DateTime.TryParseExact(cDate.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out costDateDT))
                                                                    costDateDesc = costDateDT.ToShortDateString();
                                                                if(cDate == serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList().Last())
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td style = "border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td>@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                            <td style="align-items:center; display:flex;margin-left: 30px" class="borders collapsible" id="@id1Value" onclick="javascript:showDetail('@name1Value','@arrowid1')">
                                                <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                    asp-route-servicetypeid="@sType" asp-route-serviceid="@s">
                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                </a>
                                                <a class="evol-arrow bx bxs-chevron-down grow" id="@arrowid1">
                                            </td>
                                            <td>@sList.First().ServiceDesc</td>
                                            </tr>
                                            <tr id="@name1Value" class="borders" style="display: none">
                                                <td colspan="2" class="table-collapse">
                                                    <table class="table table-sm table-hover table-collapse-seperate table-shadow" style="padding-top: 10px">
                                                        <thead id="bootstrap-overrides" class="table-info">
                                                            <tr>
                                                                <th class ="evol-fitcontent-column">
                                                                <th style="border-top-left-radius: 20px; border-top-right-radius: 20px;">@localizer["CostDate"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="bootstrap-overrides">
                                                            @foreach (var cDate in serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList())
                                                            {
                                                                DateTime costDateDT;
                                                                costDateDesc = cDate.ToString();
                                                                if (DateTime.TryParseExact(cDate.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out costDateDT))
                                                                    costDateDesc = costDateDT.ToShortDateString();
                                                                if(cDate == serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList().Last())
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td style = "border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td style="align-items:center; display:flex;margin-left: 80px" class="borders">
                                                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                                    <img class="evol-image float" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                            </a>
                                                                        </td>
                                                                        <td>@costDateDesc</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    }
                                 </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    }
}
@section Scripts
    {
    <script type="text/javascript">
        function openPopupEdit() {
            document.getElementById("confirmPopupEdit").style.display = "flex";
        }
        function openPopupEditEquipement(value) {
            document.getElementById("Edit|" + value).style.display = "flex";
        }
        function confirmBtn() {
            return true;
        }
        function closePopup() {
            document.getElementById("confirmPopupEdit").style.display = "none";
            var elements = document.querySelectorAll(".confirmPopupEditEquipement");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
            return false;
        }
    </script>
}