@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ServiceWorkFlowViewModel;
@{
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddServiceCompany = false;
    bool AddServiceTask = false;
    bool DeleteServiceTask = false;
    bool ExportServiceTask = false;
    bool AddServiceCompanyExpCodes = false;
    bool AddExpCode = false;
    bool DeleteExpCode = false;
    bool ExportExpCode = false;

    if (Model.Permissions.Find(x => x == "AddServiceCompanyExpCodes") != null) { AddServiceCompanyExpCodes = true; }
    if (Model.Permissions.Find(x => x == "AddServiceCompany") != null) { AddServiceCompany = true; }
    if (Model.Permissions.Find(x => x == "AddServiceTask") != null) { AddServiceTask = true; }
    if (Model.Permissions.Find(x => x == "DeleteServiceTask") != null) { DeleteServiceTask = true; }
    if (Model.Permissions.Find(x => x == "ExportServiceTask") != null) { ExportServiceTask = true; }
    if (Model.Permissions.Find(x => x == "AddExpCode") != null) { AddExpCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpCode") != null) { DeleteExpCode = true; }
    if (Model.Permissions.Find(x => x == "ExportExpCode") != null) { ExportExpCode = true; }
}
<div id="TitlePage">
    <h1>@localizer["ServiceTask"]</h1>
</div>
@if (Model == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    string localValue;
    string value = "";
    string Level0Name = "level";

    int level = 0;
    string idValue = "arrow" + level.ToString();
    string nameValue = "";
    @if (AddExpCode && Model.ServiceTasksList.Count() > 0)
    {
        <table style="display: none" id="Hide|" class="table table-sm table-hover table-collapse-seperate">
            <thead id="bootstrap-overrides" class="table-info sticky-header">
                <tr>
                    <th class="evol-fitcontent-column" style="border:none;background-color:transparent"></th>
                    <th>@localizer["ServiceTaskCode"]</th>
                    <th>@localizer["ServiceTaskDesc"]</th>
                    <th>@localizer["ServiceTaskRef"]</th>
                </tr>
            </thead>
        <tbody id="bootstrap-overrides">
                <tr>
                    <form id="AddFrm|" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="SetServiceTask" asp-route-source="ServiceWorkFlow">
                        <td style="align-items:center; display:flex;border: none;background-color: transparent;">
                            <img onclick="CancelRow('')" type="image" class="evol-image" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                            <input onclick="return true" type="image" value="@localizer["SubmitAdd"]" class="evol-image" name="Submit" src="~/images/Ok.png" />
                            <input style="display: none" id=ServiceTaskID name=ServiceTaskID type="number" value="0" />
                        </td>
                        <td><input id=ServiceTaskCode name=ServiceTaskCode type="text" maxlength="15" style="width: 100%" /></td>
                        <td><input id=ServiceTaskDesc name=ServiceTaskDesc type="text" maxlength="256" style="width: 100%" /></td>
                        <td>
                            <select id=RefServiceTaskID name=RefServiceTaskID>
                                @foreach(ServiceTaskElement st in Model.ServiceTasksList)
                                {
                                    <option value="@st.ServiceTaskID">@st.ServiceTaskDesc</option>
                                }
                            </select>
                        </td>
                    </form>
                </tr>
        </tbody>
    </table>
    }
    <table id="Show|" class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>

                <th rowspan="2" class="evol-fitcontent-column" style="text-align:center;border: none;background-color: transparent;vertical-align:middle">
                    @if (AddExpCode && Model.ServiceTasksList.Count() > 0)
                    {
                        <img onclick="EditRow('')" style="background:none; width:35px;height:35px;" src="~/images/add.png" title="@localizer["AddServiceTask"]" />
                    }
                </th>
                <th style="vertical-align:middle" rowspan="2">@localizer["ServiceTaskCode"]</th>
                <th style="vertical-align:middle" rowspan="2">@localizer["ServiceTaskDesc"]</th>
                <th style="vertical-align:middle" colspan="3">@localizer["ServiceTaskConfigs"]</th>
            </tr>
            <tr>
                <th style="vertical-align:middle" title="@localizer["ComplementServiceTaskTip"]">@localizer["ComplementServiceTask"]</th>
                <th style="vertical-align:middle" title="@localizer["ExternalExpeditionModeTip"]">@localizer["ExternalExpeditionMode"]</th>
                <th style="vertical-align:middle" title="@localizer["StationExceededDescTip"]">@localizer["StationExceededDesc"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (ServiceTaskElement st in Model.ServiceTasksList)
            {
                level++;
                nameValue = Level0Name + level.ToString();
                idValue = "arrow" + nameValue;
                value = st.ServiceTaskID.ToString();
                <tr id="Hide|@value" style="display: none">
                    <form id="AddFrm|@value" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="SetServiceTask" asp-route-source="ServiceWorkFlow">
                        <td style="align-items:center; display:flex;border: none;background-color: transparent;">
                            <img onclick="CancelRow('@value')" type="image" class="evol-image" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                            <input onclick="return true" type="image" value="@localizer["SubmitAdd"]" class="evol-image" name="Submit" src="~/images/Ok.png" />
                            <input style="display: none" id=ServiceTaskID name=ServiceTaskID type="number" value="@st.ServiceTaskID" />
                        </td>
                        <td>@st.ServiceTaskCode<input style="display: none"  id=ServiceTaskCode name=ServiceTaskCode type="text" maxlength="15" value="@st.ServiceTaskCode"/></td>
                        <td><input id=ServiceTaskDesc name=ServiceTaskDesc type="text" maxlength="256" style="width: 100%" value="@st.ServiceTaskDesc"/></td>
                        <td>
                                @{
                                    List<ServiceTypeElement> complementList = new List<ServiceTypeElement>();
                                    foreach(ServiceTypeElement ste in st.ServiceTypes)
                                    {
                                        if (!ste.ServiceTypeCode.StartsWith("PRINT"))
                                            complementList.Add(ste);
                                        else
                                        {
                                            string color = ste.ServiceTypeCode.Substring(5);
                                            if (color.Contains("BLACK"))
                                                color = color.Replace("BLACK", "COLOR");
                                            else
                                                color = color.Replace("COLOR", "BLACK");
                                            color = "PRINT" + color;
                                            ServiceTypeElement newServiceType = Model.ServiceTypesList.FirstOrDefault(x => x.ServiceTypeCode == color);
                                            if (newServiceType != null)
                                                complementList.Add(newServiceType);
                                        }
                                    }
                                }
                            <select id=ComplementServiceTaskID name=ComplementServiceTaskID>
                                @foreach (ServiceTaskElement s in Model.ServiceTasksList.Where(x => complementList.All(b => x.ServiceTypes.Any(a => a.ServiceTypeCode == b.ServiceTypeCode))).ToList())
                                {
                                    <option value="@s.ServiceTaskID">[@s.ServiceTaskCode] @s.ServiceTaskDesc</option>
                                }
                            </select>
                        </td>
                        <td>
                            @{
                                List<int> eModeList = new List<int>();
                                eModeList.Add(0);
                                eModeList.Add(1);
                                eModeList.Add(2);
                                if (st.ExternalExpeditionMode != null)
                                {
                                    eModeList.Remove((int)st.ExternalExpeditionMode);
                                    eModeList.Add(-1);
                                }
                            }
                            <select id=ExternalExpeditionMode name=ExternalExpeditionMode>
                                @{
                                    localValue = st.ExternalExpeditionMode == null ? "-1" : st.ExternalExpeditionMode.ToString();
                                }
                                <option value="@localValue">
                                        @{
                                        localValue = "ExternalExpeditionMode" + localValue;
                                        }
                                        @localizer[localValue]
                                </option>
                                @foreach(int i in eModeList)
                                {
                                    <option value="@i">
                                        @{
                                            localValue = "ExternalExpeditionMode" + i.ToString();
                                        }
                                        @localizer[localValue]
                                    </option>
                                }
                             </select>
                        </td>
                        <td><input id=StationExceededDesc name=StationExceededDesc type="text" maxlength="50" style="width: 100%" value="@st.StationExceededDesc"/></td>
                    </form>
                </tr>
                <tr id="Show|@value">
                    <td style="align-items:center; display:flex;border: none;background-color: transparent;">
                        <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceWorkFlowDetail" asp-route-servicetaskID="@st.ServiceTaskID">
                            <img class="evol-image" src="~/images/config.png" title="@localizer["List"]: @st.ServiceTaskDesc" />
                        </a>
                        @if (AddServiceTask)
                        {
                            <img onclick="EditRow('@value')" class="evol-image" src="~/images/edit.png" title="@localizer["ChangeServiceTask"]" />
                        }
                        @if (st.ServiceTypes.Count() > 0)
                        {
                            <a class="evol-arrow bx bxs-chevron-down arrow" href="javascript:showDetail('@nameValue')" id="@idValue"></a>
                        }
                    </td>
                    <td>@st.ServiceTaskCode</td>
                    <td>
                        @st.ServiceTaskDesc
                    </td>
                    <td>
                        @Model.ServiceTasksList.FirstOrDefault(x => x.ServiceTaskID == st.ComplementServiceTaskID)?.ServiceTaskDesc
                    </td>
                    <td>
                        @{
                            localValue = "ExternalExpeditionMode" + st.ExternalExpeditionMode;
                        }
                        @localizer[localValue]
                    </td>
                    <td>@st.StationExceededDesc</td>
                </tr>
                @if (st.ServiceTypes.Count() > 0)
                {
                <tr id="@nameValue" style="display: none">
                        <td style="border:none;background-color:transparent"></td>
                        <td colspan="3">
                            <table class="table table-sm table-hover table-collapse-seperate">
                                <thead id="bootstrap-overrides" class="table-info sticky-header">
                                    <tr>
                                        <th>@localizer["ServiceTypeDesc"]</th>
                                        <th>@localizer["ServiceTypeCode"]</th>
                                    </tr>
                                </thead>
                                <tbody id="bootstrap-overrides">
                                        @foreach (ServiceTypeElement s in st.ServiceTypes)
                                        {
                                            <tr>
                                                <td>@s.ServiceTypeDesc</td>
                                                <td>@s.ServiceTypeCode</td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@section Scripts
    {
    <script type="text/javascript">
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Show|' + value);

            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = true;
            return false;
        }
        function EditRow(value) {
            eShide('Show|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }
    </script>
}