@using Shared.Models.Areas.evolDP
@using Shared.ViewModels.Areas.evolDP
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject IConfiguration configuration

@model ServiceCompanyViewModel;
@{
    int colWidth;
    string siteURL = configuration.GetValue<string>("evolUXSiteURL");
    bool AddServiceCompany = false;
    bool AddServiceTask = false;
    bool DeleteServiceTask = false;
    bool ExportServiceTask = false;
    bool AddServiceCompanyExpCodes = false;
    bool AddExpCode = false;
    bool DeleteExpCode = false;
    bool ExportExpCode = false;

    if (Model.Permissions.Find(x => x == "AddServiceCompanyExpCodes") != null) { AddServiceCompanyExpCodes = true; }
    if (Model.Permissions.Find(x => x == "AddServiceCompany") != null) { AddServiceCompany = true; }
    if (Model.Permissions.Find(x => x == "AddServiceTask") != null) { AddServiceTask = true; }
    if (Model.Permissions.Find(x => x == "DeleteServiceTask") != null) { DeleteServiceTask = true; }
    if (Model.Permissions.Find(x => x == "ExportServiceTask") != null) { ExportServiceTask = true; }
    if (Model.Permissions.Find(x => x == "AddExpCode") != null) { AddExpCode = true; }
    if (Model.Permissions.Find(x => x == "DeleteExpCode") != null) { DeleteExpCode = true; }
    if (Model.Permissions.Find(x => x == "ExportExpCode") != null) { ExportExpCode = true; }
}
@if (Model == null || Model.ServiceCompany == null)
{
    <tr><td colspan="5" class="text-center">@localizer["NoModelData"]</td></tr>
}
else
{
    Company serviceCompany = Model.ServiceCompany;
    List<ServiceCompanyRestriction> serviceCompanyRestrictions = new List<ServiceCompanyRestriction>();
    if (Model.Restrictions != null)
        serviceCompanyRestrictions = Model.Restrictions.ToList();

    string value;
    int level0 = 0, level1 = 0;
    string id0Value = "arrow" + level0.ToString();
    string name0Value = "level0|" + level0.ToString();
    string id1Value = "arrow" + level1.ToString();
    string name1Value = "level1|" + level1.ToString();
    string costDateDesc;
    List<ServiceCompanyServiceResume> serviceTypeConfigs;
    <div id="TitlePage">
        <h1>@localizer["ServiceCompany"]</h1>
    </div>
    <div>
        <a class='bx bx-left-arrow' class="borders" style="color:rgb(90 205 239)" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="Companies">
        </a>
        <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyExpCodes" asp-route-servicecompanyJson="@JsonConvert.SerializeObject(serviceCompany)">
            <img style="background:none; width:50px;height:50px;" src="~/images/envelopes2.png" title="@localizer["ServiceCompanyExpCodes"]" />
        </a>

    </div>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
           <tr>
                @if(AddServiceCompany)
                {
                    <th class="evol-fitcontent-column" class="borders"></th>
                }
                <th>@localizer["CompanyCode"]</th>
                <th>@localizer["CompanyName"]</th>
                <th>@localizer["CompanyAddress"]</th>
                <th>@localizer["CompanyPostalCode"]</th>
                <th>@localizer["CompanyPostalCodeDescription"]</th>
                <th>@localizer["CompanyCountry"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            <tr id="Show|ServiceCompany">
                @if(AddServiceCompany)
                {
                    <td style="text-align: center" class="borders">
                    <img onclick="EditRow('ServiceCompany')" class="evol-image" src="~/images/edit.png" title="@localizer["ChangeCompany"]" />
                </td>
                }
                <td>@serviceCompany.CompanyCode</td>
                <td>@serviceCompany.CompanyName</td>
                <td>@serviceCompany.CompanyAddress</td>
                <td>@serviceCompany.CompanyPostalCode</td>
                <td>@serviceCompany.CompanyPostalCodeDescription</td>
                <td>@serviceCompany.CompanyCountry</td>
            </tr>
            @if (AddServiceCompany)
            {
                <tr id="Hide|ServiceCompany" style="display: none">
                    <form id="AddFrm|ServiceCompany" class="d-flex justify-content-center m-5" asp-controller="ServiceProvision" asp-action="ChangeServiceCompany" asp-route-servicecompanyviewJson="@JsonConvert.SerializeObject(Model)">
                    <td style="align-items:center; display:flex" class="borders">
                        <img onclick="CancelRow('ServiceCompany')" type="image" class="evol-image" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                        <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image" name="Submit" src="~/images/Ok.png" />
                    </td>
                    <td>@serviceCompany.CompanyCode</td>
                    <input style="display: none" id=ServiceCompanyID name=ServiceCompanyID value="@serviceCompany.ID" />
                    <td><input id=CompanyName name=CompanyName type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyName" /></td>
                    <td><input id=CompanyAddress name=CompanyAddress type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyAddress" /></td>
                    <td><input id=CompanyPostalCode name=CompanyPostalCode type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyPostalCode" /></td>
                    <td><input id=CompanyPostalCodeDescription name=CompanyPostalCodeDescription type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyPostalCodeDescription" /></td>
                    <td><input id=CompanyCountry name=CompanyCountry type="text" maxlength="256" style="width: 100%" value="@serviceCompany.CompanyCountry" /></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr class="borders">
                @if (AddServiceCompany)
                {
                <th class ="evol-fitcontent-column"></th>
                }
                <th>@localizer["MaterialType"]</th>
                <th title="@localizer["MaterialPositionTip"]">@localizer["MaterialPosition"]</th>
                <th title="@localizer["FileSheetsCutoffLevelTip"]">@localizer["FileSheetsCutoffLevel"]</th>
                <th title="@localizer["RestrictionModeTip"]">@localizer["RestrictionMode"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (ServiceCompanyRestriction r in serviceCompanyRestrictions)
            {
                value = r.MaterialTypeID.ToString();
                <tr id="Show|@value">
                    @if (AddServiceCompany)
                    {
                        <td>
                            <img onclick="EditRow('@value')" class="evol-image" src="~/images/edit.png" title="@localizer["ChangeServiceCompanyRestriction"]" />
                        </td>
                    }
                    @{
                        value = @localizer[r.MaterialTypeCode].Value;
                        if (value == r.MaterialTypeCode)
                            value = r.MaterialTypeDesc;
                    }
                    <td>@value</td>
                    <td>
                        @r.MaterialPosition @localizer["MaterialPositionType" + r.MaterialTypeCode]
                    </td>
                    @if (r.MaterialTypeCode.ToUpper() == "STATION")
                    {
                        <td></td>
                        <td>
                            @localizer["RestrictionMode" + (r.RestrictionMode ? "1" : "0")]
                        </td>
                    }
                    else
                    {
                        <td>@r.FileSheetsCutoffLevel</td>
                        <td></td>
                    }
                </tr>
                @if (AddServiceCompany)
                {
                    value = r.MaterialTypeID.ToString();
                    <tr id="Hide|@value" style="display: none">
                        <form id="AddFrm|@value" class="d-flex justify-content-center m-5" asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ChangeServiceCompanyRestriction"
                  asp-route-serviceCompanyJson="@serviceCompany" asp-route-materialtypeid="@r.MaterialTypeID">
                        <td style="align-items:center; display:flex">
                            <img onclick="CancelRow('@value')" type="image" class="evol-image" src="~/images/cancel.png" title="@localizer["Cancel"]" />
                            <input onclick="return true" type="image" value="@localizer["SubmitChange"]" class="evol-image" name="Submit" src="~/images/Ok.png" />
                        </td>
                        @{
                            value = @localizer[r.MaterialTypeCode].Value;
                            if (value == r.MaterialTypeCode)
                                value = r.MaterialTypeDesc;
                        }
                        <td>@value</td>
                        <td><input type="number" id="MaterialPosition" name="MaterialPosition" value="@r.MaterialPosition" /> @localizer["MaterialPositionType" + r.MaterialTypeCode]</td>
                        @if (r.MaterialTypeCode.ToUpper() == "STATION")
                        {
                            <td><input style="display: none" type="number" id="FileSheetsCutoffLevel" name="FileSheetsCutoffLevel" value="0" /></td>
                            value = r.RestrictionMode ? "checked" : "";
                            <td>
                            <select id="RestrictionMode" name="RestrictionMode">
                                    <option value="@(r.RestrictionMode ? "1" : "0")"> @localizer["RestrictionMode" + (r.RestrictionMode ? "1" : "0")]</option>
                                    <option value="@(r.RestrictionMode ? "0" : "1")"> @localizer["RestrictionMode" + (r.RestrictionMode ? "0" : "1")]</option>
                            </select>
                            </td>
                        }
                        else
                        {
                            <td><input type="number" id="FileSheetsCutoffLevel" name="FileSheetsCutoffLevel" value="@r.FileSheetsCutoffLevel" /></td>
                            <td>
                                <input style="display: none" type="checkbox" id="RestrictionMode" />
                            </td>
                        }                            
                        </form>
                    </tr>
                }
            }
        </tbody>
    </table>
    if (Model.Configs.Count() > 0)
    {
        <div id="TitlePage">
            <h3>@localizer["ServiceCompanyConfig"]</h3>
        </div>
        <table class="table table-sm table-hover table-collapse-seperate">
        <thead id="bootstrap-overrides" class="table-info sticky-header">
            <tr>
                <th class ="evol-fitcontent-column" style="text-align: center"></th>
                <th>@localizer["ServiceType"]</th>
            </tr>
        </thead>
        <tbody id="bootstrap-overrides">
            @foreach (var sType in Model.Configs.Select(x => x.ServiceTypeID).Distinct().ToList())
            {
                level0++;
                name0Value = "level" + level0.ToString();
                id0Value = "arrow" + name0Value;
                serviceTypeConfigs = Model.Configs.Where(x => x.ServiceTypeID == sType).ToList();
                <tr>
                    <td style ="align-items:center; display:flex">
                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                asp-route-serviceCompanyConfigsJson="@JsonConvert.SerializeObject(serviceTypeConfigs)" asp-route-servicetypeid="@sType">
                                <img class="evol-image" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                            </a>
                            <a class="evol-arrow bx bxs-chevron-down" href="javascript:showDetail('@name0Value')" id="@id0Value"></a>
                    </td>
                    <td colspan="2">@serviceTypeConfigs.First().ServiceTypeDesc</td>
                </tr>
                <tr id="@name0Value" style="display: none">
                    <td colspan="2">
                        <table class="table table-sm table-hover table-collapse-seperate">
                            <thead id="bootstrap-overrides" class="table-info sticky-header">
                                <th class="evol-fitcontent-column"></th>
                                <th>@localizer["Service"]</th>
                            </thead>
                            <tbody>
                                @foreach (var s in serviceTypeConfigs.Select(x => x.ServiceID).Distinct().ToList())
                                {
                                    List<ServiceCompanyServiceResume> sList = serviceTypeConfigs.Where(x => x.ServiceID == s).ToList();
                                    level1++;
                                    name1Value = "detail" + level1.ToString();
                                    id1Value = "arrow" + name1Value;
                                    <tr>
                                        <td style="align-items:center; display:flex;margin-left: 30px">
                                            <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                asp-route-servicetypeid="@sType" asp-route-serviceid="@s">
                                                <img class="evol-image" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                            </a>
                                            <a class="evol-arrow bx bxs-chevron-down" href="javascript:showDetail('@name1Value')" id="@id1Value"></a>
                                        </td>
                                        <td>@sList.First().ServiceDesc</td>
                                    </tr>
                                    <tr id="@name1Value" style="display: none">
                                        <td colspan="2">
                                            <table class="table table-sm table-hover table-collapse-seperate">
                                                <thead id="bootstrap-overrides" class="table-info sticky-header">
                                                    <tr>
                                                        <th class ="evol-fitcontent-column">
                                                        <th>@localizer["CostDate"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bootstrap-overrides">
                                                    @foreach (var cDate in serviceTypeConfigs.Select(x => x.CostDate).Distinct().ToList())
                                                    {
                                                        DateTime costDateDT;
                                                        costDateDesc = cDate.ToString();
                                                        if (DateTime.TryParseExact(cDate.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out costDateDT))
                                                            costDateDesc = costDateDT.ToShortDateString();
                                                        <tr>
                                                            <td style="align-items:center; display:flex;margin-left: 80px">
                                                                <a asp-area="evolDP" asp-controller="ServiceProvision" asp-action="ServiceCompanyConfig" asp-route-serviceCompanyJson="@JsonConvert.SerializeObject(Model.ServiceCompany)"
                                                                    asp-route-servicetypeid="@sType" asp-route-serviceid="@s" asp-route-costdate="@cDate">
                                                                    <img class="evol-image" src="~/images/cost.png" title="@localizer["ServiceCompanyConfig"]" />
                                                                </a>
                                                            </td>
                                                            <td>@costDateDesc</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                             </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
}
@section Scripts
    {
    <script type="text/javascript">
        function CancelRow(value) {
            eShide('Hide|' + value);
            eSshow('Show|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = true;
            return false;
        }
        function EditRow(value) {
            eShide('Show|' + value);
            eSshow('Hide|' + value);
            var obj = document.getElementById("AddFrm|" + value);
            obj.disabled = false;

            let str = 'Hide|' + value;
            trElements = document.querySelectorAll('tr[id^="Hide|"]');
            trElements.forEach(tElement => {
                if (tElement.id != str) {
                    let val = tElement.id.substring(5);
                    CancelRow(val);
                }
            });
        }
    </script>
}