@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - evolUX.UI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icon.png">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/topbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/evolUX.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/snake.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="topbar-wrapper">
            <div class="col es-col">
                <div class="es-circle"><a href="/"><img class="logo-topbar" src="~/images/icon.png"></a></div>
            </div>
            <div class="col title-col">
                <p class="es-title evol-font">evolUX</p>
            </div>
            <div class="col settings-col">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="lang-menu">
                        <img class="circle selected-lang" style="width:40px;height:40px;" src="~/images/@localizer["Language_Icon"]" alt="@localizer["Language"]" title="@localizer["Language"]"/>
                        <ul>
                            @{
                                var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
                                var cultureList = locOptions.Value.SupportedUICultures;
                                var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
                            }
                            @if(cultureList != null) foreach (System.Globalization.CultureInfo c in cultureList){
                                    <li>
                                        <a asp-area="Core" asp-controller="Home" asp-action="CultureManagement" asp-route-culture="@c.Name" asp-route-returnurl="@returnUrl"><div class="selected-lang-@(c.Name == culture.RequestCulture.Culture.Name)">@c.DisplayName</div></a>
                                    </li>
                            }
                        </ul>
                    </div>
                    @*<div style="margin: 10px 15px; font-size:24px;"><img style="width:50px;height:50px;" src="~/images/user.png" alt="@User.Identity.Name" title="@User.Identity.Name" /></div>*@
                    <div class="settings-circle circle" style="margin: 10px 15px; font-size:24px;">
                        <a class="settings-circle circle" @*asp-area="Core" asp-controller="Auth" asp-action="Logout"*@ style="color:var(--evol-lightergrey);">
                            <img style="width:40px;height:40px;" src="~/images/user.png" alt="@User.Identity.Name" title="@User.Identity.Name" />
                        </a>
                    </div>
                    <div class="settings-circle circle" style="margin-right:25px;">
                        <a class="settings-circle circle" asp-area="Core" asp-controller="Auth" asp-action="Logout" style="color:var(--evol-lightergrey);">
                            <i class='bx bx-log-out' style="margin: 9px 6px; font-size:24px;"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div id="topbar-gradient" class="topbar-gradient es-theme"></div>
    </header>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="~/Views/Shared/_PartialLayout.cshtml" />
    }
   @* @{
        var breadCrumbList = ViewBag.Breadcrumbs as List<Breadcrumb>;
    }*@
    <div id="page-content-wrapper" class="home-section" style="@(User.Identity.IsAuthenticated ? "":"left: 0;width: 100%;")">
        @*@if (ViewBag.Breadcrumbs != null && @breadCrumbList.Count > 1)
        {
            <nav aria-label="breadcrumb" style="">
                <ol class="breadcrumb bg-white justify-content-center justify-content-md-start justify-content-lg-start justify-content-xl-start">
                    @foreach (var breadcrumb in @breadCrumbList)
                    {
                        if (breadcrumb.Active)
                        {
                            <li class="breadcrumb-item active"><a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller" asp-area="@breadcrumb.Area">@Html.Raw(@breadcrumb.Text)</a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item" aria-current="page">@breadcrumb.Text</li>
                        }
                    }
                </ol>
            </nav>
        }*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top text-muted evol-footer">
        <div>
            &copy; 2023 - evolUX
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src=~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/anime.min.js" asp-append-version="true"></script>
    <script src="~/js/snake.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
