@using Shared.Models.Areas.Finishing
@using Shared.ViewModels.Areas.Finishing
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model ProductionRunReportViewModel

@*https://www.w3.org/WAI/tutorials/tables/irregular/  https://datatables.net/extensions/buttons/examples/column_visibility/index.html*@

<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
      <span class="sr-only">Loading...</span>
    </div>
</div>
@if (Model == null || Model.ProductionRunReport == null)
{
    <div id="ResultPage">
        <h3 class="display-4 text-center">@localizer["NoModelData"]</h3>
    </div>
}
else
{
    <div id="TitlePage">
        <h1 class="display-4 text-center">@localizer["ProductionRunStatus"]</h1>
    </div>
    <div class="my-3">
    @if (Model.ProductionRunReport.Count() == 0)
    {
        <h4 class="display-4 text-center">@localizer["EmptyResult"]</h4>
    }
    else
    {
        string ServiceCompanyName = "";
        if (ViewBag.hasMultipleServiceCompanies)
        {
                ServiceCompanyName += TempData["ServiceCompanyName"];
        }
        <table class="table table-sm table-hover table-collapse-seperate">
            <col>
            <colgroup span="2"></colgroup>
            <colgroup span="3"></colgroup>
            <colgroup span="3"></colgroup>
            <colgroup span="3"></colgroup>
            <colgroup span="3"></colgroup>
            <colgroup span="3"></colgroup>
            <colgroup span="3"></colgroup>
            <thead id="bootstrap-overrides" class="sticky-header">
                <tr>
                        <th class="headcol" rowspan="3" scope="rowgroup"><div class="highlight-data">@ServiceCompanyName</div>@localizer["RunDescription"]</th> @*BusinessDesc + [BusinessID] + RunDate + (RunSequence + [RunID])*@
                    <th colspan="20" scope="rowgroup">@localizer["Files"]</th>
                </tr>
                <tr>
                    <th colspan="2" scope="colgroup">@localizer["TotalToPrint"]</th>
                    <th colspan="3" scope="colgroup">@localizer["Processed"]</th>
                    <th colspan="3" scope="colgroup">@localizer["ToPrint"]</th>
                    <th colspan="3" scope="colgroup">@localizer["S2Printer"]</th>
                    <th colspan="3" scope="colgroup">@localizer["Printed"]</th>
                    <th colspan="3" scope="colgroup">@localizer["FullFill"]</th>
                    <th colspan="3" scope="colgroup">@localizer["Expedition"]</th>
                </tr>
                <tr>
                    <th scope="row">@localizer["Originals"]</th>
                    <th scope="row">@localizer["Recup"]</th>
                    <th scope="row">@localizer["Total"]</th>
                    <th scope="row">@localizer["StartProcessed"]</th>
                    <th scope="row">@localizer["EndProcessed"]</th>
                    <th scope="row">@localizer["Total"]</th>
                    <th scope="row">@localizer["StartToPrint"]</th>
                    <th scope="row">@localizer["EndToPrint"]</th>
                    <th scope="row">@localizer["Total"]</th>
                    <th scope="row">@localizer["StartS2Printer"]</th>
                    <th scope="row">@localizer["EndS2Printer"]</th>
                    <th scope="row">@localizer["Total"]</th>
                    <th scope="row">@localizer["StartPrinted"]</th>
                    <th scope="row">@localizer["EndPrinted"]</th>
                    <th scope="row">@localizer["Total"]</th>
                    <th scope="row">@localizer["StartFullFill"]</th>
                    <th scope="row">@localizer["EndFullFill"]</th>
                    <th scope="row">@localizer["Total"]</th>
                    <th scope="row">@localizer["StartExpedition"]</th>
                    <th scope="row">@localizer["EndExpedition"]</th>
                </tr>
            </thead>
            <tbody id="bootstrap-overrides">
                @if (Model == null || Model.ProductionRunReport == null || Model.ProductionRunReport.Count() == 0)
                {
                    <tr><td colspan="5" class="text-center">No Model Data</td></tr>
                }
                else
                {
                    int OriginalsTotal = 0;
                    int RecupTotal = 0;
                    int ProcessedTotal = 0;
                    int ToPrintTotal = 0;
                    int S2PrinterTotal = 0;
                    int PrintedTotal = 0;
                    int FullFillTotal = 0;
                    int ExpeditionTotal = 0;
                    @foreach (ProductionRunInfo p in Model.ProductionRunReport)
                    {
                        <tr>
                            @{
                                string RunName = p.BusinessDesc + "(" + p.RunDate + "[" + p.RunSequence + "])";
                            }
                            <td class="headcol" >@RunName
                                @if (p.FilesLeftToPrint > 0 || p.RecFilesLeftToPrint > 0)
                                {
                                    <a class='bx bx-file' style="color:rgb(90 205 239)" asp-area="Finishing" asp-controller="ProductionReport" asp-action="ProductionReport" asp-route-runid="@p.RunID" asp-route-servicecompanyid="@p.ServiceCompanyID" asp-route-runname=@RunName></a>
                                }
                                else
                                {
                                    @*<a class='bx bx-file' style="color:var(--evol-grey)" asp-area="Finishing" asp-controller="ProductionReport" asp-action="ProductionReport" asp-route-runid="@p.RunID" asp-route-servicecompanyid="@p.ServiceCompanyID" asp-route-runname=@RunName></a>*@
                                    <a class='bx bx-file' style="color:rgb(245 126 72)" asp-area="Finishing" asp-controller="ProductionReport" asp-action="ProductionReport" asp-route-runid="@p.RunID" asp-route-servicecompanyid="@p.ServiceCompanyID" asp-route-runname=@RunName></a>
                                }
                                @if (p.FilesLeftToPrint > 0 || p.RecFilesLeftToPrint > 0)
                                {
                                    <a class='bx bx-printer' style="color:rgb(90 205 239)" asp-area="Finishing" asp-controller="ProductionReport" asp-action="ProductionReportPrinter" asp-route-runid="@p.RunID" asp-route-servicecompanyid="@p.ServiceCompanyID" asp-route-runname=@RunName></a>
                                }
                            </td>
                            <td>@p.FilesLeftToPrint</td> @*Originals*@
                            @{
                                OriginalsTotal += p.FilesLeftToPrint;
                            }
                            <td>@p.RecFilesLeftToPrint</td> @*Recup*@
                            @{
                                RecupTotal += p.RecFilesLeftToPrint;
                            }
                            <td>@p.TotalProcessed</td>
                            @{
                                ProcessedTotal += p.TotalProcessed;
                            }
                            <td>
                            @if (p.StartProcessed != DateTime.MinValue)
                                    @p.StartProcessed
                            </td>
                            <td>
                            @if (p.EndProcessed != DateTime.MinValue)
                                    @p.EndProcessed
                            </td>
                            <td>@p.TotalToPrint</td>
                            @{
                                ToPrintTotal += p.TotalToPrint;
                            }
                            <td>
                            @if (p.StartToPrint != DateTime.MinValue)
                                    @p.StartToPrint
                            </td>
                            <td>
                            @if (p.EndToPrint != DateTime.MinValue)
                                    @p.EndToPrint
                            </td>
                            <td>@p.TotalS2Printer</td>
                            @{
                                S2PrinterTotal += p.TotalS2Printer;
                            }
                            <td>
                            @if (p.StartS2Printer != DateTime.MinValue)
                                    @p.StartS2Printer

                            </td>
                            <td>
                            @if (p.EndS2Printer != DateTime.MinValue)
                                    @p.EndS2Printer
                            </td>
                            <td>@p.TotalPrinted</td>
                            @{
                                PrintedTotal += p.TotalPrinted;
                            }
                            <td>
                            @if (p.StartPrinted != DateTime.MinValue)
                                    @p.StartPrinted
                            </td>
                            <td>
                            @if (p.EndPrinted != DateTime.MinValue)
                                @p.EndPrinted
                            </td>
                            <td>@p.TotalFullFill</td>
                            @{
                                FullFillTotal += p.TotalFullFill;
                            }
                            <td>
                            @if (p.StartFullFill != DateTime.MinValue)
                                @p.StartFullFill
                            </td>
                            <td>
                            @if (p.EndFullFill != DateTime.MinValue)
                                @p.EndFullFill
                            </td>
                            <td>@p.TotalExpedition</td>
                            @{
                                ExpeditionTotal += p.TotalExpedition;
                            }
                            <td>
                            @if (p.StartExpedition != DateTime.MinValue)
                                @p.StartExpedition

                            </td>
                            <td>
                                @if (p.EndExpedition != DateTime.MinValue)
                                    @p.EndExpedition
                            </td>
                                @*<td><a asp-area="EvolDP" asp-controller="DocCode" asp-action="DocCodeLevel1" asp-route-doclayout="@p.DocLayout" asp-route-docsubtype="@p.DocType">Mais</a></td>*@
                        </tr>
                    }
                    <tr class="table-end">
                        <td class="table-end-data headcol">Total</td>
                        <td class="table-end-data">@OriginalsTotal</td> @*Originals*@
                        <td class="table-end-data">@RecupTotal</td> @*Recup*@
                        <td class="table-end-data">@ProcessedTotal</td>
                        <td></td>
                        <td></td>
                        <td class="table-end-data">@ToPrintTotal</td>
                        <td></td>
                        <td></td>
                        <td class="table-end-data">@S2PrinterTotal</td>
                        <td></td>
                        <td></td>
                        <td class="table-end-data">@PrintedTotal</td>
                        <td></td>
                        <td></td>
                        <td class="table-end-data">@FullFillTotal</td>
                        <td></td>
                        <td></td>
                        <td class="table-end-data">@ExpeditionTotal</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
  </div>
}



